<%= content_for :page_title do %>
    New Message
<% end %>



<% if !params[:reply]  %>
    <% unless @last_message.body.blank? %>
        <div class="padded" style="min-height: 5em; border:solid 1px black; border-radius: 5px;background: white;color:black;">
          <%= @last_message.body %>
        </div>
    <% end %>
    <br>
    <style type="text/css">
        .black-box .separator a{
            color:black;
        }
    </style>


    <div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true" data-filter="true">
      <h3 style="font-size: 0.8em;"><div  id="search_delegates" class="search_dele">Select Recepients</div></h3>
      <ul data-role="listview" data-theme="a" data-divider-theme="d"  data-split-icon='star' data-mini="true" data-filter="true">
        <% @users = User.all  %>
        <% @use = @users - [current_user]  %>
        <% @use.sort_by(&:name).each_with_index do |e,index| %>
            <% @a=1 %>
            <li id="<%= e.id %>" class="li_delegate" data-filtertext=" <%= e.name %> <%= e.role %> <%= e.headline %> <%= e.industry %> <%= e.company %> <%= e.location %> <%= e.email %> <%= e.skills %> <%= e.interest %>"  >
              <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                  <label id="delegates_name"><input type="checkbox" name="checkbox-0" class=" checking_checkbox"/><%= e.name %></label>
                </fieldset>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
    <br>
    <!--<a class="button gray" href="#" class="form_btn" id="submit_form">Send</a>-->

    <script type="text/javascript">
        $(document).on("pageinit", function(){
            $( ".checking_checkbox" ).on( "change", function() {
                if ( $(this).is(":checked")) {

                    var adding = $( this ).parents( "li").attr("id");
                    var b = ($(this).parent().parent().find('#delegates_name').text());
                    $('#search_delegates').text().replace(/Select Recepients/, "");
                    $('#search_delegates').html($('#search_delegates').text().replace(/Select Recepients/, "") + b + ", ");
                    $('#message_forming').append('<input id=' + adding + ' type="hidden" name="receipient_users[]" value=' + adding + '>');
                }
                else {

                    var deleting = $( this ).parents( "li").attr("id");
                    var string = $(this).parent().parent().find('#delegates_name').text();
                    var new_string = $('#search_delegates').text().replace(string + ",", '');
                    $('#search_delegates').text(new_string);
                    if ($('#search_delegates').text()==" ") {
                        $('#search_delegates').text("Select Recepients");
                    }
                    $('#message_forming').find('#' + deleting).empty().remove();
                }
            });


            $('#submit_form').click(function(){
                if (($(":checkbox").filter(":checked").size()==0))
                {
                <%= add_gritter("Please Select Recepients", :title => "Error!",:image => :warning,:time => 2000  ) %>
                    return false;
                }
                else{
                <%= add_gritter("Message Sent Successfully", :title => "Success",:time => 1000) %>
                }
            });

        });


      function appending_question(){
          $('#message_body').val( $('.padded').html());
          return true;
      }

    </script>




    <%= form_for :message, :url=> {:action=> :create},:html => {:class => "meeting  fill-up",:id => "message_forming", :'data-ajax'=>"false"} do |f| %>
        <%= f.hidden_field :conference_id, :value => Conference.last.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :body  %>
        <%= f.submit  "Submit",:onclick => "appending_question();",:id=>"submit_form"%>
    <% end %>


                                              x


<% end %>








<% if params[:reply] %>
<%= form_for :message, :url=> {:action=> :create},:html => {:class => "meeting",:id => "message_form", :'data-ajax'=>"false"} do |f| %>
    <%= f.hidden_field :conference_id, :value => Conference.last.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <% if @all %>
        <%#= select_tag 'receipient_users[]', options_for_select(@user_list, @receipients), :multiple => true,:"data-mini" => "true" %>
    <% else %>
        <%= select_tag 'receipient_users[]', options_for_select(@user_list, @receipient), :multiple => true,:"data-mini" => "true" %>
    <% end %>
     <br>
    <div class="field" style="font-size: 0.8em;">
      <%= f.text_area :body, :rows => '5', :placeholder => "Type in your message",:"data-mini" => "true",:style => "font-size:0.8em;" %>
    </div>
     <br>
    <div data-role="controlgroup" data-type="horizontal" style="float: right;">
      <a class="index_styling" href="#" data-ajax=false data-role="button" class="form_btn" id="form_btn_id" data-mini="true">Send</a>
      <%#= f.submit "Send", :'data-role' => "button",:"data-mini" => "true"%>
    </div>
<% end %>

<script type="text/javascript">

    $(function () {
        $('.checking_checkbox').on('click', function () {
            if ($(this).attr("data-icon")=="checkbox-off") {
                var adding = $( this ).parents( "li").attr("id");
                var b = ($(this).parent().parent().find('#delegates_name').text());
                $('#search_delegates').text().replace(/Select Invitees/, "");
                $('#search_delegates').html($('#search_delegates').text().replace(/Select Recepients/, "") + b + ", ");
                $('#message_form').append('<input id=' + adding + ' type="hidden" name="receipient_users[]" value=' + adding + '>');
            }

            else {
                var deleting = $( this ).parents( "li").attr("id");
                var string = $(this).parent().parent().find('#delegates_name').text();
                var new_string = $('#search_delegates').text().replace(string + ",", '');
                $('#search_delegates').text(new_string);
                if ($('#search_delegates').text()==" ") {
                    $('#search_delegates').text("Select Recepients");
                }
                $('#message_form').find('#' + deleting).empty().remove();
            }

        });



        $('#form_btn_id').on('click',function(){

             if ($('#message_body').val()==""){
            <%= add_gritter("Please fill Message", :title => "Error!",:image => :warning,:time => 2000  ) %>
            }
            else
            {

                $('#message_form').submit();
            }
        });

    });

</script>
<% end %>
