<%= content_for :page_title do %>
    Messages
<% end %>

<%= content_for :page_menu do %>
    <ul>
      <li><a href="/messages/new" data-ajax='false'>New</a></li>
      <li><a href="/messages" data-ajax='false'>Messages</a></li>
    </ul>
<% end %>


<div data-role="collapsible" data-theme="b" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Unread Messages</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <li data-role="list-divider">Unread Message Count<span class="ui-li-count"><%= @unread.size %></span></li>
    <% @unread.each do |message| %>
        <li>
          <a href="<%= message_path(message) %>" data-ajax="false">
            <h3><%= message.user.name %></h3>
            <p><%= message.name %></p>
            <p class="ui-li-aside"><strong><%= message.created_at %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="b" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Read Messages</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <li data-role="list-divider">Read Message Count<span class="ui-li-count"><%= @read.size %></span></li>
    <% @read.each do |message| %>
        <li>
          <a href="<%= message_path(message) %>" data-ajax="false">
            <h3><%= message.user.name %></h3>
            <p><%= message.name %></p>
            <p class="ui-li-aside"><strong><%= message.created_at %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="b" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Sent Messages</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <li data-role="list-divider">Sent Message Count<span class="ui-li-count"><%= @sent.size %></span></li>
    <% @sent.each do |message| %>
        <li>
          <a href="<%= message_path(message) %>" data-ajax="false">
            <h3><%= message.receipients.map{|r| r.user.name}.join(", ") %></h3>
            <p><%= message.name %></p>
            <p class="ui-li-aside"><strong><%= message.created_at %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>









