<%= content_for :page_title do %>
    Messages
<% end %>
<%= content_for :page_menu do %>
<% end %>


<%= link_to "Create New",new_message_path,:'data-role' => "button", :'data-theme' => "a", :'data-ajax' => false, :'data-inline' => true, :class => "anchor_link",:'data-mini' => "true",:style => "float:right;" %>
<br>
<br>
<br>

<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true">
  <h3 style="font-size: 0.8em;">Unread Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @unread.size %></h3>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <% @unread.each do |message| %>
        <li>
          <a href="<%= message_path(message) %>" data-ajax="false">
            <h3 style="font-size: 0.8em;"><%= message.created_at %></h3>
            <p><b><%= message.user.name %></b></p>
            <p><%= message.name %></p>

          </a>
        </li>
    <% end %>
  </ul>
</div>


<div data-role="collapsible" data-theme="a" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true">
  <h3 style="font-size: 0.8em;">Read Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @read.size %></h3>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">

    <% @read.each do |message| %>
        <li>
          <a href="<%= message_path(message) %>" data-ajax="false">
            <h3 style="font-size: 0.8em;"><%= message.created_at %></h3>
            <p><b><%= message.user.name %></b></p>
            <p><%= message.name %></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>


<div data-role="collapsible" data-theme="a" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true">
  <h3 style="font-size: 0.8em;">Sent Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @sent.size %></h3>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <% @sent.each do |message| %>
        <li>
          <a href="<%= message_path(message) %>/?sent=true" data-ajax="false">
            <h3 style="font-size: 0.8em;"><%= message.created_at %></h3>
            <p><b><%= message.receipients.map{|r| r.user.name}.join(", ") %></b></p>
            <p><%= message.name %></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41279198-1', '127.0.0.1:3000');
    ga('send', 'pageview');

</script>











