<%= content_for :page_title do %>
    New Message
<% end %>

<%= content_for :page_menu do %>
    <ul>
      <li><a href="/messages/new" data-ajax='false'>New</a></li>
      <li><a href="/messages" data-ajax='false'>Messages</a></li>
    </ul>
<% end %>

<%= content_for :head do %>
    <script type="text/javascript">

      $(function(){

          $('[type="submit"]').button('disable');
          $(function () {
              $('[type="submit"]').button('disable');
              $('select').change && $('#message_body').focus (function () {
                  if (($('select option:selected') && $('#message_body')).length > 0) {
                      $('[type="submit"]').button('enable');

                  } else {
                      $('[type="submit"]').button('disable');

                  }
              });

          });

          $('#message_body').blur(function () {
              if ($(this).val().length <= 0) {
                  $('[type="submit"]').button('disable');
              }
              else{
                  $('[type="submit"]').button('enable');
              }
          });

      }) ;





    </script>
<% end %>

<%= form_for :message, url: {action: :create} do |f| %>

    <%= f.hidden_field :conference_id, :value => Conference.last.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= select_tag 'receipient_users[]', options_for_select(@user_list), :multiple => true %>


    <div class="field">
      <%= f.text_area :body, :rows => '5', :placeholder => "Type your message" %>
    </div>
    <div data-role="controlgroup" data-type="horizontal" style="float: right;">
      <%= f.submit "Send", :'data-role' => "button", :'data-ajax' => "false" %>
    </div>
<% end %>