<% content_for :page_title do %>
    New Message
<% end %>

<%= form_for(@message) do |f| %>
    <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

          <ul>
            <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :conference_id, :value=>Conference.last.id %>
    <%= f.hidden_field :user_id, :value=>current_user.id %>
    <label for="select-choice-0" class="select">To:</label>
    <%= f.select :receipients, Participant.all.collect {|x| [x.name, x.id]}, {}, :multiple => false, :name=>"select-choice-0", :id=>"select-choice-0" %>

    <div class="field">
      <%= f.label :subject %>
      <%= f.text_field :name, :'data-mini'=>true %>
    </div>
    <div class="field">
      <%= f.text_area :body %>
    </div>
    <div data-role="controlgroup" data-type="horizontal" style="float: right;">
      <%= f.submit "Send", :'data-role'=>"button" %>
    </div>
<% end %>
