<%= content_for :page_title do %>
    Message
<% end %>


<h3>
  <table class="index_styling">
    <tr>
      <td class="headtd">From:</td>
      <td class="normtd"><%= @message.user.name.titlecase %></td>
    </tr>
    <tr>
      <td class="headtd">To:</td>
      <td class="normtd"><%= @message.receipients.map { |r| r.user.name.titlecase }.join(", ") %></td>
    </tr>
    <tr>
      <td class="headtd">Sent at:</td>
      <td class="normtd"><%= @message.created_at %> hrs on <%= @message.created_at.strftime("%m/%d/%Y") %></td>
    </tr>
  </table>
</h3>
<hr>
<% unless @message.body.blank? %>
    <div class="padded" style="font-size:0.8em;font-weight:normal;min-height: 5em;border-radius: 5px;">
      <%= raw @message.body %>
    </div>
<% end %>


<% if !params[:sent] %>
    <a href="<%= focussed_message_path(@message.user, @message) %>/?reply=true" data-ajax=false data-role=button data-mini="true">Reply</a>
<% end %>
<a href="<%= focussed_message_path(@message.user, @message, "all") %>" data-ajax=false data-mini="true" data-role=button>Forward</a>







