<%= content_for :page_title do %>
    Message
<% end %>

<%= content_for :page_menu do %>

<% end %>


<h3>
  <table>
    <tr>
      <td class="headtd">From:</td>
      <td class="normtd"><%= @message.user.name.titlecase %></td>
    </tr>
    <tr>
      <td class="headtd">To:</td>
      <td class="normtd"><%= @message.receipients.map { |r| r.user.name.titlecase }.join(", ") %></td>
    </tr>
    <tr>
      <td class="headtd">Sent at:</td>
      <td class="normtd"><%= @message.created_at %> hrs on <%= @message.created_at.strftime("%m/%d/%Y") %></td>
    </tr>
  </table>
</h3>
<% unless @message.body.blank? %>
    <div class="padded" style="min-height: 5em; border:solid 1px black; border-radius: 5px;background: white;">
      <%= raw @message.body %>
    </div>
<% end %>

<div data-role="navbar">
  <ul>
    <li><a href="<%= focussed_message_path(@message.user, @message) %>" data-ajax=false>Reply</a></li>
    <li><a href="<%= focussed_message_path(@message.user, @message, "all")%>" data-ajax=false>Reply All</a></li>
  </ul>
</div>




<div data-role="footer" data-position="fixed" data-theme='a' data-fullscreen="true">
  <div data-role="navbar" data-theme='a'>

    <!--<ul>-->
      <!--<li><a href="/messages/new" data-ajax='false'>New</a></li>-->
      <!--<li><a href="/messages" data-ajax='false'>Messages</a></li>-->
    <!--</ul>-->
  </div>
</div>
