<% content_for :page_title do %>
    Message
<% end %>


<h3>
  <div class="padded">
    <span class="label-block">From:</span>
    <span class="point-block"><%= @message.user.name.titlecase %></span>
  </div>
  <div class="padded">
    <span class="label-block">To:</span>
    <span class="point-block"><%= @message.receipients.map { |r| r.user.name.titlecase }.join(", ") %></span>
  </div>
  <div class="padded">
    <span class="label-block">Quick Note:</span>
    <span class="point-block"><%= @message.name %></span>
  </div>
  <div class="padded">
    <span class="label-block">Sent at:</span>
    <span class="point-block"><%= @message.created_at %> hrs on <%= @message.created_at.strftime("%m/%d/%Y") %> </span>
  </div>
</h3>
<div class="padded" style="min-height: 5em; border:solid 1px black; border-radius: 5px;background: white;">
  <%= raw @message.body %>
</div>

<div data-role="navbar">
  <ul>
    <li><%= link_to "Reply", focussed_message_path(@message.user,@message) %></li>
    <li><%= link_to "Reply All", focussed_message_path(@message.user, @message,"all") %></li>
  </ul>
</div>


<br>
<br>
<br>
<br>

