<%= content_for :page_title do %>
    New Meetings
<% end %>



<%= content_for :head do %>
    <script type="text/javascript">

        $(function(){

            $('[type="submit"]').button('disable');
            $(function () {
                $('[type="submit"]').button('disable');
                $('select').change && $('#meeting_name').focus (function () {
                    if (($('select option:selected') && $('#meeting_name')).length > 0) {
                        $('[type="submit"]').button('enable');

                    } else {
                        $('[type="submit"]').button('disable');

                    }
                });

            });

            $('#meeting_name').blur(function () {
                if ($(this).val().length <= 0) {
                    $('[type="submit"]').button('disable');
                }
                else{
                    $('[type="submit"]').button('enable');
                }
            });

        }) ;





    </script>
<% end %>





<%= content_for :page_menu do %>

<% end %>


<%= form_for :meeting, :url => {:action => :create},:html => {:class => "meeting",:id=> "meeting_form", :'data-ajax'=>"false"} do |f| %>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="field">
      <%= f.text_field :name, :'data-mini' => true, :placeholder => "Enter meeting agenda" %>
    </div>
      <br>
    <div data-role="listview" data-mini="true"  data-placeholder="true"  data-split-icon='star' data-mini="true" data-filter="true">
      <%= select_tag 'meeter_use[]', options_for_select(@users.flatten.map {|u| [u.name, u.id]}, @meeter), :multiple => true,:include_blank =>"Select Delegates", :multiple => true,:'data-mini' => true,:prompt => "Select Delegates" %>
    </div>
     <br>
    <div class="field">
      <%= f.select :location, options_for_select(@conference.locations.map { |l| [l.name, l.id] }), :'data-mini' => true,:prompt => "Select Location" %>
    </div>
    <br>
    <div class="field">
      <%= f.time_select :start_time,
                        :combined => true,
                        #:default => Time.now.change(:hour => 11, :min => 30),
                        :minute_interval => 30,
                        :time_separator => "",
                        :start_hour => 00,
                        :end_hour => 23,:prompt => "Select Time" %>
    </div>
     <br>






    <div data-role="controlgroup" data-type="horizontal" style="float: right;">
      <a class="index_styling" href="#" data-ajax=false data-role="button" class="form_btn" id="form_btn_id" data-mini="true">Send</a>
      <%#= f.submit "Send", :'data-role' => "button"%>
    </div>

<% end %>


<script type="text/javascript">
    $('#form_btn_id').click(function(){
        if ($("#meeting_start_time_5i").val()==""){
        <%= add_gritter("Please select Time", :title => "Error!",:image => :warning,:time => 2000  ) %>
        }
        else if ($("#meeting_location").val()==""){
        <%= add_gritter("Please select Location", :title => "Error!",:image => :warning,:time => 2000  ) %>
        }
        else if ($('#meeting_name').val()==""){
        <%= add_gritter("Please fill meeting Agenda", :title => "Error!",:image => :warning,:time => 2000  ) %>
        }
        else
        {
            $('#meeting_form').submit();
        }
    });

</script>
