<%= content_for :page_title do %>
    Meetings
<% end %>

<ul data-role="listview" data-theme="a" data-divider-theme="d">
  <li data-role="list-divider">Pending<span class="ui-li-count"><%= @pending.size %></span></li>
  <% @pending.each do |meeting| %>
      <li>
        <a href="<%= meeting_path(meeting) %>" data-ajax="false">
          <h3><%= meeting.user.name %></h3>

          <p><%= meeting.name %></p>

          <p class="ui-li-aside"><strong><%= meeting.created_at %></strong></p>
        </a>
      </li>
  <% end %>
  <li data-role="list-divider">Accepted<span class="ui-li-count"><%= @accepted.size %></span></li>
  <% @accepted.each do |meeting| %>
      <li>
        <a href="<%= meeting_path(meeting) %>" data-ajax="false">
          <h3><%= meeting.user.name %></h3>

          <p><%= meeting.name %></p>

          <p class="ui-li-aside"><strong><%= meeting.created_at %></strong></p>
        </a>
      </li>
  <% end %>
  <li data-role="list-divider">Decline<span class="ui-li-count"><%= @decline.size %></span></li>
  <% @decline.each do |meeting| %>
      <li>
        <a href="<%= meeting_path(meeting) %>" data-ajax="false">
          <h3><%= meeting.meeters.map{|r| r.user.name}.join(", ") %></h3>
          <p><%= meeting.name %></p>
          <p class="ui-li-aside"><strong><%= meeting.created_at %></strong></p>
        </a>
      </li>
  <% end %>

  <li data-role="list-divider">Sent Messages<span class="ui-li-count"><%= @sent.size %></span></li>
  <% @sent.each do |meeting| %>
      <li>
        <a href="<%= meeting_path(meeting) %>" data-ajax="false">
          <h3><%= meeting.meeters.map{|r| r.user.name}.join(", ") %></h3>
          <p><%= meeting.name %></p>
          <p class="ui-li-aside"><strong><%= meeting.created_at %></strong></p>
        </a>
      </li>
  <% end %>

</ul>









