<div class="row-fluid">


  <div class="span10">
    <%= image_tag @photo %>
    <h4><%= @name %></h4>
    <h5><%= @headline %></h5>
  </div>



  <div class="span8">
    <div class="notice-bar">
      List of  meetings
    </div>



 <div class="fbinfobox">
<table border="2">
  <tr>
    <th>Meeting name</th>
    <th>Meeting description</th>
    <th>Meeting location</th>
    <!--<th>Meeting datetime</th>-->
    <!--<th>User</th>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th></th>-->
  </tr>

<% @user.meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.meeting_name %></td>
    <td><%= meeting.meeting_description %></td>
    <td><%= meeting.meeting_location %></td>
    <!--<td><%#= %></td>-->
    <!--<td><%#= meeting.user_id %></td>-->
    <!--<td><%#= link_to 'Show', meeting %></td>-->
    <!--<td><%#= link_to 'Edit', edit_meeting_path(meeting) %></td>-->
    <!--<td><%#= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />


<%#= link_to 'New Meeting', new_meeting_path %>
</div>
</div>

  <div class="span8">
    <br>
    <br>
    <br>
    <div class="notice-bar">
      List of Meetings
    </div>
    <div class="fbinfobox">
      <table border="2">
      <tr>
      <th>Meeting name</th>
      <th>Meeting description</th>
      <th>Meeting location</th>
      </tr>

        <% @meetings.each do |meeting| %>
            <tr>
         <td><%= meeting.meeting_name %></td>
         <td><%= meeting.meeting_description %></td>
         <td><%= meeting.meeting_location %></td>
             <%#= link_to 'Accept'%>
              <%#= link_to 'Ignore'%>
        <% end %>
       </tr>
     </table>
    </div>
  </div>
</div>