<%= content_for :page_title do %>
    <span style="font-size: 0.8em;">Meetings</span>
<% end %>

<%= content_for :page_menu do %>

<% end %>

<%= link_to "Create New",new_meeting_path,:'data-role' => "button", :'data-theme' => "a", :'data-ajax' => false, :'data-inline' => true, :class => "anchor_link",:'data-mini' => "true",:style=>"float:right;" %>
<br>
<br>
<br>

<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true">
  <h3 style="font-size: 0.8em;">Scheduled Meetings&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @scheduled.size %></h3>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <% @scheduled.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">
            <h3 style="font-size: 0.8em;"><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></h3>
            <p><b><%= ((meeting.meeters.select{|m| m.status}.map{|m| m.user.name} << meeting.user.name).delete_if{|n| n==current_user.name}).join(", ") %></b></p>
            <p><%= meeting.name %></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true">
  <h3 style="font-size: 0.8em;">Pending Invitations&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @pending.size %></h3>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <% @pending.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">
            <h3 style="font-size: 0.8em;"><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></h3>
            <p><b><%= ((meeting.meeters.select{|m| m.status}.map{|m| m.user.name} << meeting.user.name).delete_if{|n| n==current_user.name}).join(", ") %></b></p>
            <p><%= meeting.name %></p>

          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true">
  <h3 style="font-size: 0.8em;">Pending Requests&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @open.size %></h3>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <% @open.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">

            <h3 style="font-size: 0.8em;"><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></h3>
            <p><b><%= meeting.meeters.map{|m| m.user.name}.join(", ") %></b></p>
            <p><%= meeting.name %></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>










