<%= content_for :page_title do %>
    Meetings
<% end %>

<div data-role="collapsible" data-theme="b" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Scheduled Meetings</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <li data-role="list-divider">Meetings Count<span class="ui-li-count"><%= @scheduled.size %></span></li>
    <% @scheduled.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">
            <h3><%= ((meeting.meeters.select{|m| m.status}.map{|m| m.user.name} << meeting.user.name).delete_if{|n| n==current_user.name}).join(", ") %></h3>
            <p><%= meeting.name %> @ <%= Location.find(meeting.location).name %></p>
            <p class="ui-li-aside"><strong><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="b" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Pending Invitations</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <li data-role="list-divider">Pending Invitation Count<span class="ui-li-count"><%= @pending.size %></span></li>
    <% @pending.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">
            <h3><%= ((meeting.meeters.select{|m| m.status}.map{|m| m.user.name} << meeting.user.name).delete_if{|n| n==current_user.name}).join(", ") %></h3>
            <p><%= meeting.name %> @ <%= Location.find(meeting.location).name %></p>
            <p class="ui-li-aside"><strong><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="b" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Pending Requests</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <li data-role="list-divider">Pending Requests Count<span class="ui-li-count"><%= @open.size %></span></li>
    <% @open.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">
            <h3><%= meeting.meeters.map{|m| m.user.name}.join(", ") %></h3>
            <p><%= meeting.name %> @ <%= Location.find(meeting.location).name %></p>
            <p class="ui-li-aside"><strong><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="b" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Declined Invitations</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d">
    <li data-role="list-divider">Declined Invitation Count<span class="ui-li-count"><%= @declined.size %></span></li>
    <% @declined.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">
            <h3><%= meeting.user.name %></h3>
            <p><%= meeting.name %> @ <%= Location.find(meeting.location).name %></p>
            <p class="ui-li-aside"><strong><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>











