<%= content_for :page_title do %>
    New Meeting
<% end %>

<%= content_for :head do %>
    <script type="text/javascript">

        $(function(){

            $('[type="submit"]').button('disable');
            $(function () {
                $('[type="submit"]').button('disable');
                $('select').change && $('#meeting_name').focus (function () {
                    if (($('select option:selected') && $('#meeting_name')).length > 0) {
                        $('[type="submit"]').button('enable');

                    } else {
                        $('[type="submit"]').button('disable');

                    }
                });

            });

            $('#meeting_name').blur(function () {
                if ($(this).val().length <= 0) {
                    $('[type="submit"]').button('disable');
                }
                else{
                    $('[type="submit"]').button('enable');
                }
            });

        }) ;





    </script>
<% end %>





<%= content_for :page_menu do %>

<% end %>

<%= form_for :meeting, url: {action: :create} do |f| %>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="field">
      <%= f.text_field :name, :'data-mini' => true, :placeholder => "Enter meeting agenda" %>
    </div>

    <%= select_tag 'meeter_users[]', options_for_select(@user_list), :multiple => true %>

    <div class="field">
      <%= f.select :location, options_for_select(@conference.locations.map { |l| [l.name, l.id] }), :'data-mini' => true %>
    </div>


    <div class="field">
      <%= f.select :event_day_id, options_for_select(@conference.event_days.map { |e| [e.name, e.id] }), :'data-mini' => true %>
    </div>

    <div class="field">
      <%= f.time_select :start_time,
                        :combined => true,
                        :default => Time.now.change(:hour => 11, :min => 30),
                        :minute_interval => 30,
                        :time_separator => "",
                        :start_hour => 00,
                        :end_hour => 23 %>
    </div>

    <div data-role="controlgroup" data-type="horizontal" style="float: right;">
      <%= f.submit "Send",:'data-role' => "button", :'data-ajax' => "false" %>
    </div>

<% end %>


<div data-role="footer" data-position="fixed" data-theme='a' data-fullscreen="true">
  <div data-role="navbar" data-theme='a'>
    <ul>
      <li><a href="/meetings/new" data-ajax='false'>New</a></li>
      <li><a href="/meetings" data-ajax='false'>Meetings</a></li>
    </ul>
  </div>
</div>




















<!--<form>-->

<!--<label for="select-choice-9" class="select" data-filter="true"><strong> To:</strong></label>-->
<!--<select name="select-choice-9" id="select-choice-9" multiple="multiple" data-native-menu="false"  >-->
<!--<option>Choose recepients</option>-->
<!--<option value="standard">Rakesh</option>-->
<!--<option value="rush">Inder</option>-->
<!--<option value="express">Perseus</option>-->
<!--<option value="overnight">Lolly</option>-->
<!--</select>-->



<!--<label for="select-choice-0" class="select"><b>Day:</b></label>-->
<!--<select name="select-choice-0" id="select-choice-0">-->
<!--<option value="standard">Day one</option>-->
<!--<option value="rush">Day two</option>-->
<!--<option value="express">Day three</option>-->
<!--<option value="overnight">Day four</option>-->
<!--</select>-->



<!--<label for="mydate" ><b>Time:</b></label>-->
<!--<input id="i" name="i">-->


<!--<label for="select-choice-1" class="select"><b>Location:</b></label>-->
<!--<select name="select-choice-0" id="select-choice-1">-->
<!--<option value="standard">wing one</option>-->
<!--<option value="rush">wing two</option>-->
<!--<option value="express">wing three</option>-->
<!--<option value="overnight">wing four</option>-->
<!--</select>-->



<!--<label for="basic"><b>Description:</b></label>-->
<!--<textarea name="textarea" id="textarea"></textarea>-->


<!--<div data-role="controlgroup" data-type="horizontal" style="float: right;">-->
<!--<a href="#" data-role="button">Send</a>-->
<!--<a href="#" data-role="button">Cancel</a>-->
<!--</div>-->


<!--</form>-->





