<%= content_for :page_title do %>
    Meeting
<% end %>

<%= content_for :page_menu do %>

<% end %>

<h3>
  <table class="index_styling">
    <tr>
      <td class="headtd">Requestor:</td>
      <td class="normtd"><%= @meeting.user.name.titlecase %></td>
    </tr>

    <%# if !@meeter.status.nil? %>
    <tr>
      <td class="headtd">Confirmed:</td>
      <!--<td class="normtd"><%#= ((@meeting.meeters.select { |m| m.status }.map { |m| m.user.name }).delete_if { |n| n==current_user.name }).join(", ") %></td>-->
      <td class="normtd"><%= ((@meeting.meeters.select { |m| m.status }.map { |m| m.user.name })).join(", ") %></td>
    </tr>
    <%# end %>

    <%# if @meeter.status.nil? %>
    <tr>
      <td class="headtd">Tentative:</td>
      <!--<td class="normtd"><%#= ((@meeting.meeters.select { |m| m.status.nil? }.map { |m| m.user.name }).delete_if { |n| n==current_user.name }).join(", ") %></td>-->
      <td class="normtd"><%= ((@meeting.meeters.select { |m| m.status.nil? }.map { |m| m.user.name })).join(", ") %></td>
    </tr>
      <%# end %>

    <tr>
      <td class="headtd">Scheduled:</td>
      <td class="normtd"> <%= @meeting.start_time %> hrs on <%= @meeting.start_time.strftime("%m/%d/%Y") %></td>
    </tr>
    <tr>
      <td class="headtd">Location:</td>
      <td class="normtd"><%= Location.find(@meeting.location).name %></td>
    </tr>


  </table>
</h3>
<hr>

<% unless @meeting.name.blank? %>
    <div class="padded" style="font-size:0.8em;font-weight:normal;min-height: 5em;border-radius: 5px;">
      <%= @meeting.name %>
    </div>
<% end %>
<% if @meeting.user==current_user %>
    <%#= link_to "Cancel",@meeting, :method => :delete, :'data-role' => "button" %>
<% else %>
    <% if @meeter.status.nil? %>
        <%= link_to "Accept", accept_meeting_path(@meeting), :'data-role' => "button", :'data-ajax' => false,:'data-mini' => true %>
        <%#= link_to "Decline", decline_meeting_path(@meeting), :'data-role' => "button", :'data-ajax' => false %>
        <%# elsif @meeter.status %>
        <%#= link_to "Decline", decline_meeting_path(@meeting), :'data-role' => "button", :'data-ajax' => false %>
        <!--<h1>Accepted</h1>-->
        <%# else %>
        <%#= link_to "Accept", decline_meeting_path(@meeting), :'data-role' => "button", :'data-ajax' => false %>
        <!--<h1>Declined</h1>-->
    <% end %>
<% end %>


<!--<div data-role="footer" data-position="fixed" data-theme='a' data-fullscreen="true">-->
<!--<div data-role="navbar" data-theme='a'>-->
<!--<ul>-->
<!--<li><a href="/meetings/new" data-ajax='false'>New</a></li>-->
<!--<li><a href="/meetings" data-ajax='false'>Meetings</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
