<div class="row-fluid">
  <div class="span8">
    <div class="fbinfobox">
      <p id="notice"><%= notice %></p>
      <div class="notice-bar">
        List of  meetings
      </div>

      <div class="fbinfobox">
        <table border="2">

          <tr>
            <th>Meeting Name</th>
            <th>Meeting description</th>
            <th>Meeting location</th>
            <!--<th> start_at</th>-->
            <!--<th>Event end_at</th>-->


          </tr>
          <% @user.meetings.each do |meeting| %>

              <tr>

                <td><%= meeting.meeting_name %></td>

                <td><%= meeting.meeting_description %></td>

                <td><%= meeting.meeting_location %></td>

                <!--<td><%#= event.start_at %></td>-->

                <!--<td><%#= event.end_at %></td>-->

          <% end %>

        </table>

      </div>


<%#= link_to 'Edit', edit_meeting_path(@meeting) %>
<%= link_to 'Back', meetings_path %>
 </div>
      </div>
    </div>