<%= content_for :page_title do %>
    <span style="font-size: 0.8em;">Speakers</span>
<% end %>




<div data-role="collapsible-set">
  <% @speak.each do |s| %>
      <div data-role="collapsible" data-mini="true">
        <h6><%= s.name %></h6>
        <div>
          <%# @a = @track_name.count %>
          <table>
            <tr>
              <td style="vertical-align: top;">
                <% if s.avatar.blank? %>
                    <%= image_tag "avatar.png", :style => 'max-height:100px;max-width:100px;margin:10px;'  %>
                <% else %>
                    <%= image_tag s.avatar.url, :style => 'max-height:100px;max-width:100px;margin:10px;' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <div style="font-size: 0.8em;font-weight: normal;text-shadow: none;font-family: arial;text-align:justify;">
                  <hr>
                <%= raw s.speaker_details%>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
  <% end %>
</div>










