
<%= content_for :page_title do %>
    Find Delegates
<% end %>

<script type="text/javascript">






     $(function(){


       $('.showme').hide();
        $('[type="submit"]').button('disable');
         $(function () {
             $('[type="submit"]').button('disable');
             $('.ui-input-search input.ui-input-text ').focus (function () {
                 if ($('.ui-input-search input.ui-input-text ').length > 0) {
                     $('[type="submit"]').button('enable');
                     $('#searching').click(function(){

                         $('.showme').show();
                     });

                     $('.showme').hide();

                 }

                 else {

                     $('[type="submit"]').button('disable');

                     $('.showme').hide();

                 }
             });

         });

             $('.ui-input-search input.ui-input-text').blur(function () {
                 if ($(this).val().length <= 0)  {
                     $('.showme').hide();
                     $('[type="submit"]').button('disable');

                 }

                 else{
                     $('[type="submit"]').button('enable');
                     $('#searching').click(function(){
                         $('.showme').show();
                     })
                 }

                 $('.showme').hide();
             });

     }) ;


</script>



<div data-role="controlgroup" data-type="horizontal">
  <input type="submit" value="Search Delegates" id="searching"  />

</div>
<br><br>
<ul data-role="listview"   data-theme='a' data-filter-placeholder="Search by industry, name or location" data-split-icon='star' data-filter="true" data-divider-theme="d" data-role="list-divider" data-split-theme="c" id="search_delegates">
   <br>

  <br>
<% @users.each do |users| %>



  <li data-theme='a' data-filtertext=" <%= users.name %> <%= users.location %> <%= users.industry %>" >

      <table>

        <tr>
          <td>
            <%= users.name.titlecase %>
          </td>
       </table>
        <table>
          <tr>
          <td class="showme">
            <% unless users.location.blank? %>
           <span>Location:  <%= users.location.titlecase %></span>
                <% end %>
          </td>
          </tr>
        </table>
        <table>
          <tr>
          <td class="showme">
             <% unless users.industry.blank? %>
            <span>Industry: <%= users.industry.titlecase %></span>
                <% end %>
          </td>
          </tr>
        </table>
           <table>
             <tr>
          <td class="showme">

            <%if users.avatar.url!='/avatars/original/missing.png'%>
              <span>PDF:    <a href="<%= users.avatar.url%>" data-prefetch data-theme='b' data-iconpos="notext" data-ajax=false><img src="/assets/procdownload.png"></a></span>
          <%end%>
          </td>

        </tr>

      </table>




  </li>
  <% end %>

</ul>
