
<%= content_for :page_title do %>
    Delegates Search
<% end %>

  <script type="text/javascript">
      function follow_search(id) {
          $.ajax({
              url:"/users/" + id + "/follow",
              type:"post",
              success:function (data) {
                  if (data == "Unfollow") {
                      $('#user' + id).parent().attr('data-theme', 'b').removeClass("ui-btn-up-a").addClass("ui-btn-up-b");
                      $('#user' + id).prev().find('.ui-link-inherit').append('<span id="following' + id + '" class="highlighted" >Following</span>');
                  } else {
                      $('#user' + id).parent().attr('data-theme', 'a').removeClass("ui-btn-up-b").addClass("ui-btn-up-a");
                      $("#following" + id).remove();
                  }
              }
          });
      }

  </script>










    <ul data-role="listview" data-filter="true" data-autodividers="true" data-theme='a' data-split-icon='star' data-split-theme="c">
      <% @conference.participants.map { |participant| participant.user }.sort_by { |u| u[:name] }.each do |user| %>
          <% unless user==current_user %>
              <% if Follower.find_by_user_id_and_follower_id(current_user.id, user.id).blank? %>
                  <li data-theme='a' data-filtertext="<%= user.name %> <%= user.batchie %> <%= user.headline %> <%= user.industry %>">
                    <a href="<%= user_profile_path(user) %>" data-ajax=false data-theme='a'>
                      <%= user.name.titlecase %>
                    </a>
                    <%= link_to "Follow #{user.name.titlecase}", "#", :onclick => "follow_search(#{user.id})", :class => "search_follow", :id => "user#{user.id}" %>
                  </li>
              <% else %>
                  <li data-theme='b' data-filtertext="<%= user.name %> <%= user.batchie %> <%= user.headline %> <%= user.industry %>">
                    <a href="<%= user_profile_path(user) %>" data-ajax=false data-theme='b'>
                      <%= user.name.titlecase %><span id="following<%= user.id %>" class="highlighted">Following</span>
                    </a>
                    <%= link_to "Unfollow #{user.name.titlecase}", "#", :onclick => "follow_search(#{user.id})", :class => "search_follow", :id => "user#{user.id}" %>
                  </li>
              <% end %>
          <% end %>
      <% end %>
    </ul>

