<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!--<link rel="shortcut icon" type="image/ico" href="http://www.sprymedia.co.uk/media/images/favicon.ico">-->

  <title>ColumnFilterWidgets</title>

   <%= stylesheet_link_tag "Datatables/jquery_dataTables_themeroller" %>
   <%= stylesheet_link_tag "Datatables/extra/ColumnFilterWidgets" %>
   <%= javascript_include_tag "Datatables/jquery_datable" %>
   <%= javascript_include_tag "Datatables/extra/ColumnFilterWidgets" %>



  <script type="text/javascript" charset="utf-8">
      $(document).ready( function () {

                   $('#example').dataTable( {

              "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
              "sDom": 'W<"clear">lfrtip',
              "oColumnFilterWidgets": {
                  "aiExclude": [ 4 ]
              }
          } );
      } );



  </script>

  <style type="text/css">
    #demo{
        margin-top: -39px;
    }
  </style>

</head>
<body id="dt_example">
<div id="container">



<form>
<div id="demo">
  <br>
<table  class="display" id="example" border="5">
<thead>
<tr>
  <th>Name</th>
  <th>Industry</th>
  <th>Location</th>
  <th>Company</th>
  <th>Company Profile</th>
</tr>
</thead>
    <br>

 <tbody>
<% @users.each do |users| %>
    <tr class="odd_gradeX">
      <td><%= users.name.titlecase %></td>

      <td>
        <% unless users.industry.blank? %>
            <%= users.industry.titlecase %>
        <% end %>
      </td>

      <td>
        <% unless users.location.blank? %>
            <%= users.location.titlecase %>
        <% end %>
      </td>

      <td class="center">
        <% unless users.company.blank? %>
            <%= users.company.titlecase %>
        <% end %>
      </td>

      <td class="center">
        <%if users.avatar.url!='/avatars/original/missing.png'%>
            <a href="<%= users.avatar.url%>" data-prefetch data-theme='b' data-iconpos="notext" data-ajax=false><img src="/assets/procdownload.png" id="dwnld"></a>
        <%end%>

      </td>
    </tr>

<% end %>




</tbody>
</table>
</div>
</form>






</div>

</body>
</html>
