<%= content_for :page_title do %>
    Profile
<% end %>




<div style="padding: 10px; background: none; width: 65%" class="fbinfobox">
<% if !@exhibitor.exhi_logo.blank? %>
    <%= image_tag @exhibitor.exhi_logo.url, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px" %>
<% end %>



<h4 style="margin-top: 0px;"><%= @exhi_name.titlecase %>


  <table style="max-width: 65%;">
    <tr>
      <td>
        <% if !@exhibitor.industry.blank? %><small><strong style="color: #c0c0c0;">Industry: </strong><%= @exhibitor.industry %> </small><% end %>
      </td>
    </tr>


    <tr>
      <td>
        <% if !@exhibitor.description.blank? %><small><strong style="color: #c0c0c0;">Details: </strong><%= raw @exhibitor.description %></small><br><% end %>
      </td>
    </tr>

    <tr>
      <td>
        <% if !@exhibitor.stall_no.blank? %><small><strong style="color: #c0c0c0;">Stall No: </strong><%= @exhibitor.stall_no %></small><br><% end %>
      </td>
    </tr>

    <tr>
      <td>
        <% if !@exhibitor.contact_no.blank? %><small><strong style="color: #c0c0c0;">Contact No: </strong><%= @exhibitor.contact_no %></small><br><% end %>
      </td>
    </tr>

    <tr>
      <td>
        <% if !@exhibitor.brouchers.blank? %>
            <small>
                <a target="_blank"  href="<%=@exhibitor.brouchers.url%>" data-ajax=false data-role=button data-mini=true style="width:50%;">Company Brochure</a>
             </small>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <% if !@exhibitor.broucher2.blank? %>
            <small>
              <a target="_blank"  href="<%=@exhibitor.broucher2.url%>" data-ajax=false data-role=button data-mini=true style="width:50%;">Product Brochure</a>
            </small>
        <% end %>
      </td>
    </tr>


    <tr>
        <td>
          <small>

            <% @user_name.each do |u|  %>
                <table cellpadding="8"cellspacing="8">
                  <% if !u.name.nil? %>
                  <tr>
                    <strong style="color: #c0c0c0;">Person: </strong>
                    <td align="position"valign="position"><%= u.name %></td>
                    <td align="position"valign="position"><%= link_to "Request Meeting", focussed_meeting_path(u), :'data-role' => "button", :'data-theme' => "a",:'data-ajax' => false, :'data-mini' => true %></td>
                    <td align="position"valign="position"><%= link_to "Send Message", focussed_message_path(u)+'/?reply=true', :'data-role' => "button", :'data-theme' => "a", :'data-ajax' => false, :'data-mini' => true %></td>
                  </tr>
                   <% end %>
                </table>
            <% end %>
          </small>

        </td>
    </tr>



  </table>
</h4>
</div>
