<%= content_for :page_title do %>
    Profile
<% end %>




<% if !@exhibitor.exhi_logo.blank? %>
    <%= image_tag Exhibitor.first.exhi_logo.url, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px" %>
<% end %>



<h4 style="margin-top: 0px;"><%= @exhi_name.titlecase %>
  <table>

    <tr>
      <td>
        <% if !@exhi_industry.blank? %><small><strong style="color: #c0c0c0;">Industry: </strong><%= @exhi_industry %> </small><% end %>
      </td>
    </tr>


    <tr>
      <td>
        <% if !@exhi_description.blank? %><small><strong style="color: #c0c0c0;">Details: </strong><%= @exhi_description %></small><br><% end %>
      </td>
    </tr>

    <tr>
      <td>
        <% if !@exhi_stall.blank? %><small><strong style="color: #c0c0c0;">Stall No: </strong><%= @exhi_stall %></small><br><% end %>
      </td>
    </tr>

    <tr>
        <td>
          <small>
            <strong style="color: #c0c0c0;">Person: </strong>
            <% @user_name.each do |u|  %>
                <table cellpadding="8"cellspacing="8">
                  <tr>
                    <td align="position"valign="position"><%= u.name %></td>
                    <td align="position"valign="position"><%= link_to "Request Meeting", focussed_meeting_path(u), :'data-role' => "button", :'data-theme' => "a",:'data-ajax' => false, :'data-mini' => true %></td>
                    <td align="position"valign="position"><%= link_to "Send Message", focussed_message_path(u)+'/?reply=true', :'data-role' => "button", :'data-theme' => "a", :'data-ajax' => false, :'data-mini' => true %></td>
                  </tr>
                </table>
            <% end %>
          </small>

        </td>
    </tr>



  </table>
</h4>

