<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
<%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
<%= stylesheet_link_tag "procialize_styles", :media => "all" %>
<%= javascript_include_tag "application" %>


<%= csrf_meta_tags %>
<%= yield(:head) %>
<%= stylesheet_link_tag "event_calendar" %>


<div class="row-fluid">
  <div class="span8">
      <div class="fbinfobox">
        <h3 style="text-align: center;">Calendar</h3>

        <%= raw(event_calendar) %>

        <%#= raw(meeting_calendar) %>
      </div>
  </div>
</div>




<%#= calendar_for(@tasks) do |t| %>
    <%#= t.day do |day, tasks| %>
        <%# if tasks.nil? %>
            <%#= day.cweek %>
        <%# else %>
            <%#= day.day %>
            <%# tasks.each do |task| %>
                <%#= h(task.name) %>
            <%# end %>
        <%# end %>
    <%# end %>
<%# end %>