<div class="black-box tex" style="max-height: 350px;">
  <div class="tab-header">
    Splash Zone
  </div>

  <script>
      $(document).ready(function() {
          $("#slider1").responsiveSlides({
              auto:true, // Boolean: Animate automatically, true or false
              speed:1500, // Integer: Speed of the transition, in milliseconds
              timeout:7000, // Integer: Time between slide transitions, in milliseconds
              random:true, // Boolean: Randomize the order of the slides, true or false
              pause:false, // Boolean: Pause on hover, true or false
              pauseControls:true, // Boolean: Pause when hovering controls, true or false
              maxwidth:"", // Integer: Max-width of the slideshow, in pixels
              navContainer:"", // Selector: Where controls should be appended to, default is after the 'ul'
              manualControls:"", // Selector: Declare custom pager navigation
              namespace:"rslides" // String: Change the default namespace used
          });
      });
  </script>

  <style type="text/css">
      .img_style {
          max-height: 200px;
      }
  </style>

  <ul class="recent-comments">
    <li class="separator" style="max-height: 300px;">
      <ul class="rslides" id="slider1">
        <li><%= image_tag HomePageLogo.first.image_one.url, :class => "img_style" rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_two.url, :class => "img_style" rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_three.url, :class => "img_style" rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_four.url, :class => "img_style"  rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_five.url, :class => "img_style" rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_six.url, :class => "img_style" rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_seven.url, :class => "img_style" rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_eight.url, :class => "img_style" rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_nine.url, :class => "img_style" rescue "" %></li>
        <li><%= image_tag HomePageLogo.first.image_ten.url, :class => "img_style" rescue "" %></li>
        <% @survey_q= SurveyQuestion.all %>
        <% @survey_q.each do |s| %>
            <div id="surveys">
              <li class="img_style" id="<%= s.id %>"><%= s.quest %>
                <table>
                  <% if !s.option_a.blank? %>
                      <tr>
                        <td><%= radio_button_tag "survey_options", "1", true%></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_a %></td>
                  <% end %>
                  </tr>

                  <% if !s.option_b.blank? %>
                      <tr>
                        <td><%= radio_button_tag "survey_options", "2", true%></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_b %></td>
                  <% end %>

                  </tr>
                  <% if !s.option_c.blank? %>
                      <tr>
                        <td><%= radio_button_tag "survey_options", "3", true%></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_c %></td>
                      </tr>
                  <% end %>

                  <% if !s.option_d.blank? %>
                      <tr>
                        <td><%= radio_button_tag "survey_options", "4", true%></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_d %></td>
                      </tr>
                  <% end %>
                </table>
              </li>
            </div>
        <% end %>
      </ul>
    </li>


    <li class="separator">
      <marquee id="tweet" style="color: white;">
        <% @newsfeed=NewsFeed.all %>
        <% @newsfeed.each do |n| %>
            <%= n.feed_news %>
        <% end %>
      </marquee>
    </li>
  </ul>
</div>


<script type="text/javascript">

    $(function () {
        $("input[name=survey_options]").click(function () {
            var a = $(this).parent().parent().parent().parent().parent().parent().attr('id');
            var value = $(this).val();
            var data = { user_id:[], survey_question_id:[], ans:[]}
            data["user_id"].push('<%= current_user.id%>');
            data["survey_question_id"].push(a);
            data["ans"].push(value);
            $.ajax({
                url:"<%= survey_storing_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    <%= add_gritter("Thank You", :title => "Success",:image => :success,:time => 1000,:class=>".bottom-right",:id=>"gritter-notice-wrapper") %>
                }
            });

        });


    });


    $(function () {
        $.get('/gettweets', function (data) {

            data = data.split('", "')
            $.each(data, function (index, val) {
                val = val.toString().replace(/"/, '').replace('[', '').replace(']', '');
                $('#tweet').append(val + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            });
        });

    });

</script>
