<%= content_for :jj do %>
    <script src="/assets/testing/dashboard/javascripts/application.js" type="text/javascript"></script>
    <script type="text/javascript">
        function follow_search(id) {
            $.ajax({
                url:"/users/" + id + "/follow",
                type:"post",
                success:function (data) {
                    if (data == "Unfollow") {
                        $('#user' + id).parent().attr('data-theme', 'b').removeClass("ui-btn-up-a").addClass("ui-btn-up-b");
                        $('#user' + id).prev().find('.ui-link-inherit').append('<span id="following' + id + '" class="highlighted" >Following</span>');
                    } else {
                        $('#user' + id).parent().attr('data-theme', 'a').removeClass("ui-btn-up-b").addClass("ui-btn-up-a");
                        $("#following" + id).remove();
                    }
                }
            });
        }

    </script>

    <style type="text/css">
        .black-box .separator a {
            color: black;
            font-weight: normal;
        }


    </style>

<% end %>



<div class="container-fluid">
<div class="row-fluid">
<div class="span7">
  <div class="row-fluid">
    <div class="span12">
      <div style="margin-bottom: 20px;">
        <div class="big-button-bar">
          <a class="button large eventer" href="/desktop_events">
            <i class=" icon-calendar "></i>
            <span>Programme</span>
          </a>


          <a class="button large delegater" href="/delegates_search">
            <i class="icon-group"></i>
            <span>Delegates</span>
          </a>

          <a class="button large speakinger" href="/desktop_speaker">
            <i class="icon-user"></i>
            <span>Speakers</span>
          </a>

          <a class="button large questioner" href="/desktop_ask_question">
            <i class="icon-question-sign "></i>
            <span>Questions</span>
          </a>

          <!--<a class="button large feedbacker" href="/desktop_ratings">-->
            <!--<i class="icon-volume-up"></i>-->
            <!--<span>Feedback</span>-->
          <!--</a>-->

          <a class="button large downloadables" href="/desktop_assets_download">
            <i class=" icon-folder-open"></i>
            <span>Download</span>
          </a>
        </div>
      </div>
    </div>
  </div>


  <!----------------------Start of Search Delegates------------------------------>
  <script type="text/javascript">
      $(function () {
          $(".industry").hide();
      })
  </script>


  <div class="black-box tex">
    <div class="tab-header">
      Search Delegates
    </div>
    <ul class="recent-comments">
      <li class="separator">

        <div class="box" style="position:relative;padding: 10px;color: black;">
          <table class="table  data-table dataTable">
            <thead>
            <tr class="gradeA odd">
              <th>Delegate</th>
              <th>Company</th>
              <th>Download Profile</th>
              <th>Role</th>
              <th class="industry">Industry</th>
              <th class="industry">Interest</th>
              <th class="industry">Skills</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <% @users = User.all %>
            <% @use = @users - [current_user] %>

            <% @use.each do |user| %>
                <tr class="gradeA even">

                  <td>
                    <a class="delegates_profile" href="<%= delegate_profile_index_path(user) %>" data-ajax=false data-theme='a'>
                      <%= user.name.titlecase %>
                    </a>
                  </td>

                  <td>
                    <%= user.company %>
                  </td>

                  <td style="border-left: 1px solid #DDDDDD">
                    <% if user.avatar.url!='/avatars/original/missing.png' %>
                        <a target="_blank" style="background: none;" href="<%= user.avatar.url %>" data-prefetch data-theme='b' data-iconpos="notext" data-ajax=false><img src="/assets/procdownload.png">&nbsp;Click
                          to download profile</a>
                    <% else %>
                        <h6 style="font-weight: normal;">Profile Not Available</h6>
                    <% end %>
                  </td>


                  <td>
                    <% unless user.role.nil? %>
                        <% unless user.role=="proops" or user.role=="orgops" or user.role=="organizer" or user.role=="admin" %>
                            <h6 style="font-weight: normal;">
                              <%= user.role.titlecase %>
                            </h6>
                        <% end %>
                    <% end %>
                  </td>


                  <td class="industry">
                    <%= user.industry %>
                  </td>

                  <td class="industry">
                    <%= user.interest %>
                  </td>
                  <td class="industry">
                    <%= user.skills %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </li>
    </ul>

  </div>
  <!----------------------End of Search Delegates------------------------------>


</div>


<div class="span5">
  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => "event_wall" %>
    </div>
  </div>
</div>


<!-------------------------->

<div class="span5">
  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => "splash_zone" %>
    </div>
  </div>
</div>





</div>
</div>







