
<%= content_for :jj do %>
    <script src="/assets/testing/dashboard/javascripts/application.js" type="text/javascript"></script>
    <%= include_gon %>
<% end %>



<div class="container-fluid">
<div class="row-fluid">
<div class="span7">
<%= render :partial => "list" %>







<!----------------------Start of focus_new----------------------------->

<div class="black-box tex" >
  <ul class="recent-comments">
    <li class="separator">



      <% if !params[:reply]  %>
          <% unless @last_message.body.blank? %>
              <div class="padded" style="min-height: 5em; border:solid 1px black; border-radius: 5px;background: white;color:black;">
                <%= @last_message.body %>
              </div>
          <% end %>
              <br>
          <style type="text/css">
              .black-box .separator a{
                  color:black;
              }
          </style>

          <script type="text/javascript">
              $(function(){
                  $(".industry").hide();
              })
          </script>


          <div class="box" style="position:relative;padding: 10px;color: black;">
            <table class="table data-table">
              <thead>
              <tr>
                <th>Recepients</th>
                <th>Select</th>
                <th class="industry">Industry</th>
                <th class="industry">Interest</th>
                <th class="industry">Skills</th>
                <th class="industry">Location</th>
                <th class="industry">Email</th>
                <th class="industry">Headline</th>
                <th class="industry">Company</th>
                <th class="industry">Role</th>
              </tr>
              </thead>
              <tbody>
              <% @users = User.all  %>
              <% @use = @users - [current_user]  %>

              <% @use.each do |e| %>
                  <tr class="gradeX"  id="<%= e.id %>">
                    <td><%= e.name %></td>
                    <td><input type="checkbox" class="custom"/></td>
                    <td class="industry">
                      <%= e.industry %>
                    </td>
                    <td class="industry">
                      <%= e.interest %>
                    </td>
                    <td class="industry">
                      <%= e.skills %>
                    </td>
                    <td class="industry">
                      <%= e.location %>
                    </td>
                    <td class="industry">
                      <%= e.email %>
                    </td>
                    <td class="industry">
                      <%= e.headline %>
                    </td>
                    <td class="industry">
                      <%= e.company %>
                    </td>
                    <td class="industry">
                      <%= e.role %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <br>
          <!--<a class="button gray" href="#" class="form_btn" id="submit_form">Send</a>-->


          <%= form_for :message, :url=> {:action=> :messages_create},:html => {:class => "meeting  fill-up",:id => "message_forming", :'data-ajax'=>"false"} do |f| %>
              <%= f.hidden_field :conference_id, :value => Conference.last.id %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :body  %>
              <%= f.submit  "Submit",:onclick => "appending_question();" ,:class => "button gray",:style=>"float:left;width:10%;",:id=>"submit_form"%>
          <% end %>

          <script type="text/javascript">
              $('#submit_form').click(function(){
                  if (($(":checkbox").filter(":checked").size()==0))
                  {
                  <%= add_gritter("Please Select Recepients", :title => "Error!",:image => :warning,:time => 2000  ) %>
                      return false;
                  }
                  else{
                  <%= add_gritter("Message Sent Successfully", :title => "Success",:time => 1000) %>
                  }
              });


              function appending_question(){
                  $('#message_body').val( $('.padded').html().replace(/\r/g,'')).replace('/\n/g','');
                  return true;
              }
          </script>
    <% end %>











      <% if !params[:forward] %>
      <%= form_for :message, :url=> {:action=> :messages_create},:html => {:class => "meeting  fill-up",:id => "message_form", :'data-ajax'=>"false"} do |f| %>
          <%= f.hidden_field :conference_id, :value => Conference.last.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <% if @all %>
              <%#= select_tag 'receipient_users[]', options_for_select(@user_list, @receipients), :multiple => true,:"data-mini" => "true" %>
          <% else %>
              <h5>Select other Recepients</h5>
              <%= select_tag 'receipient_users[]', options_for_select(@user_list, @receipient), :multiple => true,:class=>"send_users" %>
          <% end %>
          <br>
          <%= f.text_area :body, :rows => '5', :placeholder => "Type in your message" %>
          <br>
          <%= f.submit "Send",:class=>"button gray",:style=>"width:15%;",:id=>"add_max" %>
      <% end %>

      <% end %>



      <% if params[:reply] %>
      <script type="text/javascript">



          $(function () {
              $('#add_max').click(function(){
                  $("#message_form").submit(function() {
                      if (($(":checkbox").filter(":checked").size()==0) && ($('.send_users').size()==0))
                      {
                      <%= add_gritter("Please Select Recepients", :title => "Error!",:image => :warning,:time => 2000  ) %>
                          return false;
                      }
                      else {
                      <%= add_gritter("Message Sent Successfully", :title => "Success",:time => 1000) %>
                          setTimeout(function(){
                              $('#message_form').submit();
                          },1500);

                      }

                  });
              });

              $('[type="submit"]').hide();
              $(function () {
                  $('[type="submit"]').hide();
                  $('#message_body').focus (function () {
                      if (( $('#message_body')).length > 0) {
                          $('[type="submit"]').show();

                      } else {
                          $('[type="submit"]').hide();

                      }
                  });

              });

              $('#message_body').blur(function () {
                  if ($(this).val().length <= 0) {
                      $('[type="submit"]').hide();
                  }
                  else{
                      $('[type="submit"]').prop("disabled", false);
                  }
              });

          });

      </script>
        <% end %>

      <script type="text/javascript">
        $(function(){

            $('.custom').live('click',function () {
                var checked;
                if ($(this).is(':checked')) {
                    checked = true;
                    var adding = ($(this).parent().parent().attr('id'));
                    var b=($(this).parent().parent().find('#delegates_name').text());
                    $('#search_delegates').text().replace(/Delegates/,"");
                    $('#search_delegates').html($('#search_delegates').text().replace(/Delegates/,"") + b + ", ");
                    $('#message_forming').append('<input id='+adding+' type="hidden" name="receipient_users[]" value='+adding+'>');
                }

                else {
                    checked = false;
                    var deleting = ($(this).parent().parent().attr('id'));
                    var string = $(this).parent().parent().find('#delegates_name').text();
                    var new_string = $('#search_delegates').text().replace(string+",", '');
                    $('#search_delegates').text(new_string);
                    $('#message_forming').find('#'+deleting).empty().remove();
                }

            });
        })

      </script>
    </li>
  </ul>
</div>
<!----------------------End of focus_new------------------------------>




</div>

<div class="span5">
  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => "event_wall" %>
    </div>
  </div>
</div>


<!-------------------------->

<div class="span5">
  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => "splash_zone" %>
    </div>
  </div>
</div>






</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41279198-1', '127.0.0.1:3000');
    ga('send', 'pageview');

</script>

</div>