
<%= content_for :jj do %>
    <script src="/assets/testing/dashboard/javascripts/application.js" type="text/javascript"></script>
<% end %>



<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">
      <div class="row-fluid">

        <div style="margin-bottom: 20px;">
          <div class="big-button-bar">
            <a class="button large eventer" href="/desktop_events">
              <i class=" icon-calendar "></i>
              <span>Events</span>
            </a>


            <a class="button large delegater" href="/delegates_search">
              <i class="icon-group"></i>
              <span>Delegates</span>
            </a>

            <a class="button large speakinger" href="/desktop_speaker">
              <i class="icon-user"></i>
              <span>Speakers</span>
            </a>

            <a class="button large questioner" href="/desktop_ask_question">
              <i class="icon-question-sign "></i>
              <span>Questions</span>
            </a>

            <a class="button large feedbacker" href="/desktop_ratings">
              <i class="icon-volume-up"></i>
              <span>Feedback</span>
            </a>

            <a class="button large downloadables" href="/desktop_assets_download">
              <i class=" icon-folder-open"></i>
              <span>Download</span>
            </a>
          </div>
        </div>
          <!----------------------Start of edit profile------------------------------>

          <div class="black-box tex" >
            <div class="tab-header">
              Edit profile
            </div>
            <ul class="recent-comments">
              <li class="separator">
                <h5>Edit profile</h5>

                <a href="/users/auth/linkedin?desktop=true"><%= image_tag("log-in-linkedin-large.png", :style => "width:20%;") %></a>
                
                <%#= form_for :user, :url => {:action => :desktop_update_profile},:html => {:class => "fill-up"}, :method => :put do |f| %>
                <%= form_for :user, :html => {:id => "user_form", :class => "fill-up cmxform"} do |f| %>
                    <p>
                      <%= f.label :name %>
                      <%= f.text_field :name %>
                    </p>

                    <p>
                      <%= f.label :headline %>
                      <%= f.text_area :headline,:rows=> "5" %>
                    </p>

                    <p>
                      <%= f.label :industry %>
                      <%= f.select :industry, options_for_select([ "Oil & Gas", "Chemical, Fertilizer & Petrochemical", "RCC & Infrastructure", "Marine","Transport & Automobiles","Power Generation","Defence","Biomedical & Electronic components"],:prompt=>"Select Industry") %>
                    </p>

                    <p>
                      <%= f.label :location %>
                      <%= f.select :location, options_for_select([ "Mumbai", "Chennai", "Hyderabad", "Delhi","Kolkata"],:prompt=>"Select Location") %>
                    </p>

                    <p>
                      <%= f.label :skills %>
                      <%= f.select :skills, options_for_select([ "Finance", "Programming", "Design", "Negotiation","Management"],:prompt=>"Select Skills") %>
                    </p>

                    <p>
                      <%= f.label :interest %>
                      <%= f.select :interest, options_for_select([ "Banking", "Telecom", "Insurance", "Garments","Real Estate"],:prompt=>"Select Interest") %>
                    </p>


                    <!--<p>-->
                      <%#= f.submit "Save",:class => "button gray",:style => "width:15%;",:id=>"add_max" %>
                    <!--</p>-->

                <% end %>
                <a class="button gray" href="#" class="form_btn" id="form_btn_id">Save</a>

                <script type="text/javascript">

                      $(function(){

                          $('#form_btn_id').click(function(){
                              $('#user_form').attr({
                                  action:'desktop_update_profile',
                                  method:'post'
                              });
                              <%= add_gritter("Successfully Updated", :title => "Success",:image => :success,:time => 1000) %>
                              setTimeout(function(){
                                  $('#user_form').submit();
                              },1500);
                          })
                      });



                </script>

              </li>
            </ul>
          </div>
          <!----------------------End of edit_profile------------------------------>
        </div>
      </div>


    <div class="span5">
      <div class="row-fluid">
        <div class="span12">
          <div class="black-box tex" style="max-height: 150px;">
            <div class="tab-header">
              Event Wall
            </div>
            <ul class="recent-comments" style="list-style: none;">
              <% @conference=Conference.last %>
              <% @user=current_user %>
              <% @graffiti=(User.all-(Follower.find_all_by_user_id_and_conference_id(@user.id, @conference.id).map { |f| User.find(f.follower_id) })-[current_user]-Organizer.all.map { |o| o.user }).map { |u| u.posts }.flatten.last(30).sort_by(&:created_at).reverse %>
              <% @graffiti.each do |post| %>

                  <li class="separator">
                    <div class="avatar pull-left">
                      <% if post.user.picture.blank? %>
                          <%= image_tag "avatar.png" %>
                      <% else %>
                          <%= image_tag(post.user.picture) %>
                      <% end %>
                    </div>
                    <div class="article-post">
                      <div class="user-info"> Posted
                        by <%= link_to post.user.name.titlecase, delegate_profile_index_path(post.user) %>
                        at <%= post.created_at %> </div>
                      <div class="user-content">"<%= post.name.truncate(10) %>"</div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!-------------------------->

    <div class="span5">
      <div class="row-fluid">
        <div class="span12">
          <div class="black-box tex" style="max-height: 350px;">
            <div class="tab-header">
              Splash Zone
            </div>
            <script>
                $(document).ready(function() {
                    $("#slider1").responsiveSlides({
                        auto:true, // Boolean: Animate automatically, true or false
                        speed:1500, // Integer: Speed of the transition, in milliseconds
                        timeout:7000, // Integer: Time between slide transitions, in milliseconds
                        random:true, // Boolean: Randomize the order of the slides, true or false
                        pause:false, // Boolean: Pause on hover, true or false
                        pauseControls:true, // Boolean: Pause when hovering controls, true or false
                        maxwidth:"", // Integer: Max-width of the slideshow, in pixels
                        navContainer:"", // Selector: Where controls should be appended to, default is after the 'ul'
                        manualControls:"", // Selector: Declare custom pager navigation
                        namespace:"rslides" // String: Change the default namespace used
                    });
                });
            </script>

            <style type="text/css">
                .img_style {
                    max-height: 200px;
                }
            </style>

            <ul class="recent-comments">
              <li class="separator" style="max-height: 300px;">
                <ul class="rslides" id="slider1">
                  <li><%= image_tag HomePageLogo.first.image_one.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_two.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_three.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_four.url, :class => "img_style"  rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_five.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_six.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_seven.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_eight.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_nine.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.image_ten.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.event_image.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.conference_image.url, :class => "img_style" rescue "" %></li>
                  <li><%= image_tag HomePageLogo.first.sponsor_image.url, :class => "img_style" rescue "" %></li>


                  <% @survey_q= SurveyQuestion.all %>
                  <% @survey_q.each do |s| %>
                      <div id="surveys">
                        <li class="img_style" id="<%= s.id %>"><%= s.quest %>
                          <table>
                            <tr>
                              <td><%= radio_button_tag "survey_options", "1", true%></td>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_a %></td>

                            </tr>
                            <tr>
                              <td><%= radio_button_tag "survey_options", "2", true%></td>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_b %></td>

                            </tr>
                            <% if !s.option_c.blank? %>
                                <tr>
                                  <td><%= radio_button_tag "survey_options", "3", true%></td>
                                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_c %></td>
                                </tr>
                            <% end %>

                            <% if !s.option_d.blank? %>
                                <tr>
                                  <td><%= radio_button_tag "survey_options", "4", true%></td>
                                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_d %></td>
                                </tr>
                            <% end %>
                          </table>
                        </li>
                      </div>
                  <% end %>
                </ul>
              </li>
              <li class="separator">

                <marquee id="tweet" style="color: white;">
                  <% @newsfeed=NewsFeed.all %>
                  <% @newsfeed.each do |n| %>
                      <%= n.feed_news %>
                  <% end %>
                </marquee>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>




    <script type="text/javascript">

        $(function () {
            $("input[name=survey_options]").click(function () {
                var a = $(this).parent().parent().parent().parent().parent().parent().attr('id');
                var value = $(this).val();
                var data = { user_id:[], survey_question_id:[], ans:[]}
                data["user_id"].push('<%= current_user.id%>');
                data["survey_question_id"].push(a);
                data["ans"].push(value);
                $.ajax({
                    url:"<%= survey_storing_path %>",
                    type:"post",
                    data:JSON.stringify(data),
                    contentType:"application/json",
                    success:function (data) {
                        <%= add_gritter("Thank You", :title => "Success",:image => :success,:time => 1000) %>
                    }
                });

            });


        });


        $(function () {
            $.get('/gettweets', function (data) {

                data = data.split('", "')
                $.each(data, function (index, val) {
                    val = val.toString().replace(/"/, '').replace('[', '').replace(']', '');
                    $('#tweet').append(val + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
                });
            });

        });

    </script>









    </div>
  </div>














