<%= content_for :jj do %>
    <script src="/assets/testing/dashboard/javascripts/application.js" type="text/javascript"
            xmlns="http://www.w3.org/1999/html"></script>
    <%#= javascript_include_tag "jquery.collapse" %>

    <%= stylesheet_link_tag "jquery-ui-1.10.3.custom.min" %>
    <script type="text/javascript">




            $(function () {
                $(document).ready(function () {
                    $('#artists_select').hide();
                    $('#songs_select').hide();
                    $('#categoriesContent').hide();
                    $('#genres_select').change(function () {
                        var data = {event_day_id:[]}
                        data["event_day_id"].push($('#genres_select').val());
                        $.getJSON("desktop_view/update_track/"+ data["event_day_id"], function(data) {
                            $('#artists_select').empty();
                            $("#artists_select").prepend("<option value='' selected='selected'>Select Track Day</option>");
                            $.each(data, function(key, val) {
                                val=val.split('|');
                                $('#artists_select').append($('<option>', {
                                    value:val[0],
                                    text:val[1]
                                }));


                            });
                            $('#artists_select').show();
                            $('#songs_select').hide();
                            $('#categoriesContent').hide();
                        });
                    });
                    $('#artists_select').change(function () {
                        var data = {event_id:[]}
                        data["event_id"].push($('#artists_select').val());
                        $.getJSON("desktop_view/update_event/"+ data["event_id"], function(data) {
                            $('#categoriesContent ul').html("");
                            $.each(data, function(key, val) {
                                val=val.split('|');
                                $('#categoriesContent').show();
//                                $('#categoriesContent ul').append('<li><a href="http://localhost:3000/events_show/' + val [0] + '"><h6>' + val[1] + '<span class="pull-right badge black">' + val[2] + '</span></h6></a></li>');
                                $('#categoriesContent ul').append('<li><a href="http://proconf.ptotemy.com/events_show/' + val [0] + '"><h6>' + val[1] + '<span class="pull-right badge black">' + val[2] + '</span></h6></a></li>');
                            });

                        });

                    });

                });
            });

    </script>



<% end %>



<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">
      <div class="row-fluid">

        <div style="margin-bottom: 20px;">
          <div class="big-button-bar">
            <a class="button large eventer" href="/desktop_events">
              <i class=" icon-calendar "></i>
              <span>Products</span>
            </a>


            <a class="button large delegater" href="/delegates_search">
              <i class="icon-group"></i>
              <span>Attendees</span>
            </a>

            <a class="button large speakinger" href="/desktop_speaker">
              <i class="icon-user"></i>
              <span>Tata Team</span>
            </a>

            <a class="button large questioner" href="/desktop_ask_question">
              <i class="icon-question-sign "></i>
              <span>Questions</span>
            </a>


            <a class="button large downloadables" href="/desktop_assets_download">
              <i class=" icon-folder-open"></i>
              <span>Collateral</span>
            </a>
          </div>
        </div>

      </div>










      <!----------------------Start of Messages------------------------------>
      <div class="black-box tex" id="events">
        <div class="tab-header">
          Messages
        </div>
        <ul class="recent-comments">
          <li class="separator">
            <%= link_to "Create New","/messages_new", :class => "button gray",:style=>"float:right;width:15%;" %>
            <br>
            <br>

            <script>
                $(function() {
                    $( "#accordion" ).accordion({
                        active: false,
                        collapsible: true
                    });
                });
            </script>

            <div id="accordion">
              <h5>Unread Messages <span class="pull-right badge black"><%= @unread.size %></span></h5>
              <div>
                <% @unread.each do |message| %>
                <p>
                  <a href="<%= messages_show_path(message) %>?unread=true">
                  Rec'd at <%= message.created_at %> hrs on <%= message.created_at.strftime("%d %b") %>
                  from <%= message.user.name %>
                  regarding "<%= message.body.truncate(15) %>"
                </a>
                </p>
                    <hr>
                <% end %>

              </div>
              <h5>Read Messages <span class="pull-right badge black"><%= @read.size %></span></h5>
              <div>
                <% @read.each do |message| %>
                <p>
                  <a href="<%= messages_show_path(message) %>?read=true">
                  Rec'd at <%= message.created_at %> hrs on <%= message.created_at.strftime("%d %b") %>
                  from <%= message.user.name %>
                  regarding "<%= message.body.truncate(15) %>"
                </a>
                </p>
                    <hr>
                <% end %>

              </div>
              <h5>Sent Messages <span class="pull-right badge black"><%= @sent.size %></span></h5>
              <div>
                <% @sent.each do |message| %>
                <p>
                  <a href="<%= messages_show_path(message) %>/?sent=true">
                    Sent at <%= message.created_at %> hrs on <%= message.created_at.strftime("%d %b") %>
                  to <%= message.receipients.map{|r| r.user.name}.join(", ") %>
                  regarding "<%= message.body.truncate(15) %>"
                    </a>
                </p>
                   <hr>
                  <% end %>

              </div>
            </div>



          </li>
        </ul>
      </div>
      <!----------------------End of Messages------------------------------>



    </div>

    <div class="span5">
      <div class="row-fluid">
        <div class="span12">
          <div class="black-box tex" style="max-height: 150px;">
            <div class="tab-header">
              Event Wall
            </div>
            <ul class="recent-comments" style="list-style: none;">
              <% @conference=Conference.last %>
              <% @user=current_user %>
              <% @graffiti=(User.all-(Follower.find_all_by_user_id_and_conference_id(@user.id, @conference.id).map { |f| User.find(f.follower_id) })-[current_user]-Organizer.all.map { |o| o.user }).map { |u| u.posts }.flatten.last(30).sort_by(&:created_at).reverse %>
              <% @graffiti.each do |post| %>

                  <li class="separator">
                    <div class="avatar pull-left">
                      <% if post.user.picture.blank? %>
                          <%= image_tag "avatar.png" %>
                      <% else %>
                          <%= image_tag(post.user.picture) %>
                      <% end %>
                    </div>
                    <div class="article-post">
                      <div class="user-info"> Posted
                        by <%= link_to post.user.name.titlecase, delegate_profile_index_path(post.user) %>
                        at <%= post.created_at %> </div>
                      <div class="user-content">"<%= post.name.truncate(10) %>"</div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!-------------------------->

    <div class="span5">
      <div class="row-fluid">
        <div class="span12">
          <div class="black-box tex" style="max-height: 350px;">
            <div class="tab-header">
              Splash Zone
            </div>
            <script>
                $(document).ready(function() {
                    $("#slider1").responsiveSlides({
                        auto:true, // Boolean: Animate automatically, true or false
                        speed:1500, // Integer: Speed of the transition, in milliseconds
                        timeout:4000, // Integer: Time between slide transitions, in milliseconds
                        random:true, // Boolean: Randomize the order of the slides, true or false
                        pause:false, // Boolean: Pause on hover, true or false
                        pauseControls:true, // Boolean: Pause when hovering controls, true or false
                        maxwidth:"", // Integer: Max-width of the slideshow, in pixels
                        navContainer:"", // Selector: Where controls should be appended to, default is after the 'ul'
                        manualControls:"", // Selector: Declare custom pager navigation
                        namespace:"rslides" // String: Change the default namespace used
                    });
                });
            </script>

            <style type="text/css">
                .img_style {
                    max-height: 200px;
                }
            </style>

            <ul class="recent-comments">
              <li class="separator" style="max-height: 300px;">
                <ul class="rslides" id="slider1">
                  <li>
                    <%= image_tag HomePageLogo.first.image_one.url, :class => "img_style" %>
                  </li>

                  <li>
                    <%= image_tag HomePageLogo.first.image_one.url, :class => "img_style" %>
                  </li>

                  <li>
                    <%= image_tag HomePageLogo.first.image_one.url, :class => "img_style" %>
                  </li>



                  <% @survey_q= SurveyQuestion.all %>
                  <% @survey_q.each do |s| %>
                      <div id="surveys">
                        <li class="img_style" id="<%= s.id %>"><%= s.quest %>
                          <table>
                            <% if !s.option_a.blank? %>
                                <tr>
                                  <td><%= radio_button_tag "survey_options", "1", true%></td>
                                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_a %></td>
                            <% end %>
                            </tr>

                            <% if !s.option_b.blank? %>
                                <tr>
                                  <td><%= radio_button_tag "survey_options", "2", true%></td>
                                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_b %></td>
                                </tr>
                            <% end %>

                            <% if !s.option_c.blank? %>
                                <tr>
                                  <td><%= radio_button_tag "survey_options", "3", true%></td>
                                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_c %></td>
                                </tr>
                            <% end %>

                            <% if !s.option_d.blank? %>
                                <tr>
                                  <td><%= radio_button_tag "survey_options", "4", true%></td>
                                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= s.option_d %></td>
                                </tr>
                            <% end %>
                          </table>
                        </li>
                      </div>
                  <% end %>
                </ul>
              </li>
              <li class="separator">

                <marquee id="tweet" style="color: white;">

                  <% @newsfeed=NewsFeed.all %>
                  <% @newsfeed.each do |n| %>
                      <%= n.feed_news %>
                  <% end %>
                </marquee>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>




    <script type="text/javascript">

        $(function () {
            $("input[name=survey_options]").click(function () {
                var a = $(this).parent().parent().parent().parent().parent().parent().attr('id');
                var value = $(this).val();
                var data = { user_id:[], survey_question_id:[], ans:[]}
                data["user_id"].push('<%= current_user.id%>');
                data["survey_question_id"].push(a);
                data["ans"].push(value);
                $.ajax({
                    url:"<%= survey_storing_path %>",
                    type:"post",
                    data:JSON.stringify(data),
                    contentType:"application/json",
                    success:function (data) {
                        <%= add_gritter("Thank You", :title => "Success",:image => :success,:time => 1000) %>
                    }
                });

            });


        });


//        $(function () {
//            $.get('/gettweets', function (data) {
//
//                data = data.split('", "')
//                $.each(data, function (index, val) {
//                    val = val.toString().replace(/"/, '').replace('[', '').replace(']', '');
//                    $('#tweet').append(val + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
//                });
//            });
//
//        });

    </script>


  </div>
</div>





