<%= content_for :page_title do %>
    Questions
<% end %>

<%= collection_select(nil, :event_day_id, @event_days, :id, :name, {:prompt => "Select the Event Day"}, {:id => 'genres_select'}) %>
<br/>
<%= collection_select(nil, :event_id, @events, :id, :name, {:prompt => "Select the Track Day"}, {:id => 'artists_select'}) %>
<br>
<%= collection_select(nil, :track_id, @tracks, :id, :name, {:prompt => "Select the Event"}, {:id => 'songs_select'}) %>

<%= include_gon %>


<%= form_for :questionable, :html => {:id => "question_form"}, action: :create_question do |f| %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="field index_styling">
      <%= f.text_field :quest_name, :'data-mini' => true, :placeholder => "Ask question ?" %>
    </div>


    <div data-role="controlgroup" data-type="horizontal" data-mini="true" style="text-align: center;font-size: 0.8em;">
      <%#= f.submit "Send", :'data-role' => "button", :'data-ajax' => "false", :'data-mini' => "true" %>
      <a class="index_styling" href="#" data-ajax=false data-role="button" class="form_btn" id="form_btn_id" data-mini="true">Send</a>
    </div>

<% end %>
<br>
<hr>


<script type="text/javascript">
    var a = '';
    $(function () {
        $('.likes').live("click", function (e) {
            var a = $(this).parent().parent().parent().parent().parent().attr('id');
            $(this).unbind('click').live('click', function () {
                return false;
            });
            var data = {question_id:[]}
            data["question_id"].push(a);
            $.ajax({
                url:"<%= voting_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    $('#like_' + a).html(data+" likes")

                }
            });

        });

    });



    $(function () {
        $('#artists_select').hide();
        $('#songs_select').hide();
        $('#categoriesContent').hide();
        $('#genres_select').change(function () {
            var data = {event_day_id:[]}
            data["event_day_id"].push($('#genres_select').val());
            $.getJSON("events/update_artists/" + data["event_day_id"], function (data) {
                $('#artists_select').empty();
                $("#artists_select").prepend("<option value='' selected='selected'>Select Track Day</option>");
                $.each(data, function (key, val) {
                    val = val.split('|');
                    $('#artists_select').append($('<option>', {
                        value:val[0],
                        text:val[1]
                    }));


                });
                $('#artists_select').show();
                $('#songs_select').hide();
                $('#categoriesContent').hide();
            });
        });
        $('#artists_select').change(function () {
            var data = {event_id:[]}
            data["event_id"].push($('#artists_select').val());
            $.getJSON("events/update_songs/" + data["event_id"], function (data) {
                $('#songs_select').empty();
                $("#songs_select").prepend("<option value='' selected='selected'>Select Event</option>");
                $.each(data, function (key, val) {
                        val = val.split('|');
                        $('#songs_select').append($('<option>', {
                            value:val[0],
                            text:val[1]
                        }));
                });
                $('#songs_select').show();
            });

        });


        $('#songs_select').change(function () {
            a = $('#songs_select').val();
            var data = {track_id:[]}
            data["track_id"].push($('#songs_select').val());
            $.getJSON("/questions_appending/" + data["track_id"], function (data) {
                $('#categoriesContent').show();
                $('#categoriesContent ul').html("");
                $('#question_form').append('<input type="hidden"  name="question_appending" value=' + a + '>');
                $.each(data, function (key, val) {
                   val=val.split('|');
                    if (val[6] == 1) {
                        $('#categoriesContent ul').append('<li id=' + val[0] + '> ' +
                                '<h6 style="white-space: normal;">' + val[3] + ' asked:-&nbsp;&nbsp;' + val[1] + '</h6> ' +
                                '<table>' +
                                '<tr>' +
                                '<td>' +
                                '<h6 id="like_' + val[0] + '">' + val[4] + 'Likes</h6>' +
                                '</td>' +
                                '</tr>' +
                                '</table>' +
                                '</li>');
                    }
                    else {
                        $('#categoriesContent ul').append('<li id=' + val[0] + '> ' +
                                '<h6 style="white-space: normal;">' + val[3] + ' asked:-&nbsp;&nbsp;' + val[1] + '</h6> ' +
                                '<table>' +
                                '<tr>' +
                                '<td id="like_table">  ' +
                                '<input name="img_buuton" data-role="none" type="image" src="/assets/thumbs_up.png" value="Likes" class="likes" id="liking" style="max-height: 32px; ">' +
                                '</td> ' +
                                '<td>' +
                                '<h6 id="like_' + val[0] + '">' + val[4] + 'Likes</h6>' +
                                '</td>' +
                                '</tr>' +
                                '</table>' +
                                '</li>');
                    }
                    $('#categoriesContent ul').listview('refresh');
                });

            });

        });


        $('#form_btn_id').click(function () {

            if ($("#genres_svalct").val() == "") {
            <%= add_gritter("Please Event Day", :title => "Error!",:image => :warning,:time => 2000  ) %>
            }
            else if ($("#artists_select").val() == "") {
            <%= add_gritter("Please Track Day", :title => "Error!",:image => :warning,:time => 2000  ) %>
            }
            else if ($('#songs_select').val() == "") {
            <%= add_gritter("Please Event", :title => "Error!",:image => :warning,:time => 2000  ) %>
            }
            else if ($('#questionable_quest_name').val() == "") {
            <%= add_gritter("Ask a Question", :title => "Error!",:image => :warning,:time => 2000  ) %>
            }
            else {

                create_quest();

            }
        });


        function create_quest() {
            var data = {question_appending:[], quest_name:[]}
            data["question_appending"].push(a);
            data["quest_name"].push($('#questionable_quest_name').val());
            $.ajax({
                url:"<%= create_question_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    <%= add_gritter("Your question has been successfully send to the moderator", :title => "Notice",:image => :success,:time => 2000  ) %>
                    setTimeout(function () {
                        location.reload();
                        $("select").val("0");
                        $('#questionable_quest_name').empty();
                    }, 2200)


                    $('#questionable_quest_name').val("");
                }
            });

        }

    });

</script>



<div data-role="content" id="categoriesContent">
  <ul data-role="listview" data-theme="d" data-dividertheme="c" data-counttheme="b" style="font-size: 0.8em;font-family: helveticaneue;">
    <h4>Moderated Questions</h4>
  </ul>
</div>



