<style>
    td {
        padding: 10px;
    }

    .fbinfo {
        background-color: rgb(244, 191, 71);
        color: #333333;
        padding: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        font-weight: bold;
    }

</style>


<script type="text/javascript">
    $(function () {
        $('.approve').click(function () {
//          alert($(this).parent().parent().prev().attr('id'));
            var data = {question_id:[]}
            data["question_id"].push($(this).parent().parent().prev().attr('id'));
//          alert($(this).parent().parent().prev().prev().attr('id'));

            $.ajax({
                url:"<%= approve_quest_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    var this_div = "#question_div_" + data;
                    $(this_div).hide();

                }
            });

        });



        $('.hide').click(function () {
//          alert($(this).parent().parent().prev().prev().attr('id'));

            var data = {question_id:[]}
            data["question_id"].push($(this).parent().parent().prev().prev().attr('id'));
//          alert($(this).parent().parent().prev().prev().attr('id'));

            $.ajax({
                url:"<%= hide_quest_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    var this_div = "#question_div_" + data;
                    $(this_div).hide();
                }
            });

        });


    })
</script>



<a href="/print" data-role="button" target="_blank" data-mini="true">Print</a>
<%= @events.each do |e| %>
    <% @event_name =Event.find(e).name %>
    <h1>  <%= @event_name %>  </h1>
    <%# @questionable = Questionable.find_all_by_event_id(e) %>
    <%# @questionable1 = Questionable.find_all_by_event_id_and_hide(e,nil) %>
    <% @questionable = Questionable.find_all_by_event_id_and_approved(e,true) %>
    <%# @questionable3 = Questionable.find_all_by_event_id(e) %>

    <%# @questionable = (@questionable2&@questionable1).uniq %>

    <% @questionable.each do |q| %>
        <div class="fbinfo" id="question_div_<%= q.id %>">
          <table>
            <tr>

              <td><%= User.find(q.user_id).name.titleize %></td>
              <td>asked</td>
              <td><h3> <%= q.quest_name.titleize %></h3></td>


              <%= hidden_field_tag q.id %>



            </tr>
          </table>
        </div>
        <br>
    <% end %>
    <br>


<% end %>


