

<script type="text/javascript">
    $(function () {
        $('.approve').click(function () {
//          alert($(this).parent().parent().prev().attr('id'));
            var data = {question_id:[]}
            data["question_id"].push($(this).parent().parent().prev().attr('id'));
//          alert($(this).parent().parent().prev().prev().attr('id'));

            $.ajax({
                url:"<%= approve_quest_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    var this_div = "#question_div_" + data;
                    $(this_div).hide();

                }
            });

        });



        $('.hide').click(function () {
//          alert($(this).parent().parent().prev().prev().attr('id'));

            var data = {question_id:[]}
            data["question_id"].push($(this).parent().parent().prev().prev().attr('id'));
//          alert($(this).parent().parent().prev().prev().attr('id'));

            $.ajax({
                url:"<%= hide_quest_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    var this_div = "#question_div_" + data;
                    $(this_div).hide();
                }
            });

        });


    })
</script>



<!--<a href="index.html" data-role="button" target="_blank">Link button</a>-->
<% @tracks.each do |e| %>
    <% unless e.nil? %>
        <% @track_name =Track.find(e).name %>
    <% end %>
    <h4 style="font-size: 0.8em;">  <%= @track_name %>  </h4>
    <% @questionable = Questionable.find_all_by_track_id_and_approved(e,true) %>
    <% @questionable.each do |q| %>
        <div style="background: rgba(178,204,255,0.93); width:98%;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: normal;">
          <span style="color:#333333;font-size:0.8em;font-weight:normal;"><%= User.find(q.user_id).name.titleize %></span>
          <span style="color:#333333;font-size:0.8em;font-weight:normal;">asked</span>
        </div>

        <div style="font-size: 0.8em;margin-top: 5px;"> <%= q.quest_name.titleize %></div>
        <table>
          <tr>
            <td><h5 id="like_<%= q.id %>"><%= q.like %> Likes</h5></td>
          </tr>
        </table>
        </div>
        <br>

    <% end %>
<% end %>


