<style>
    td {
        padding: 10px;
    }

    .fbinfo {
        background-color: rgb(244, 191, 71);
        color: #333333;
        padding: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        font-weight: bold;
    }

</style>


<script type="text/javascript">
    $(function () {
        $('.approve').click(function () {
            var a =  $(this).parent().parent().parent().parent().parent().parent().attr('id')
            a= a.replace('question_div_',"");
            var data = {question_id:[]}
            data["question_id"].push(a);
//          alert($(this).parent().parent().prev().prev().attr('id'));

            $.ajax({
                url:"<%= approve_quest_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    var this_div = "#question_div_" + data;
                    $(this_div).hide();
                }
            });

        });



        $('.hide').click(function () {
            var data = {question_id:[]}
            data["question_id"].push($(this).parent().parent().prev().prev().attr('id'));

            $.ajax({
                url:"<%= hide_quest_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    var this_div = "#question_div_" + data;
                    $(this_div).hide();
                }
            });

        });


    })
</script>

<div>
  <ul data-role="listview" data-theme="a" data-divider-theme="d" data-filter-placeholder="Search by events" data-split-icon='star' data-mini="true" data-filter="true">
    <% @tracks=Questionable.all.map { |i| i.track_id }.uniq %>
    <% @tracks.each do |e| %>
        <% unless e.nil? %>
            <% @track_name =Track.find(e).name %>
        <% end %>

        <% @questionable1 = Questionable.find_all_by_track_id_and_hide(e,nil) %>
        <% @questionable2 = Questionable.find_all_by_track_id_and_approved(e,false) %>


        <% @questionable = (@questionable2&@questionable1) %>

        <% @questionable.each do |q| %>
            <li>
              <h2 style="font-size: 0.8em;"><%= @track_name %></h2>
              <div id="question_div_<%= q.id %>">
                <p><%= User.find(q.user_id).name.titleize %><span style="font-size: 0.8em;font-weight: normal;">&nbsp;&nbsp;
                  asked</span> &nbsp;&nbsp;" <%= q.quest_name.titleize %>"
                </p>
                <table>
                  <tr>
                    <td><%= hidden_field_tag q.id %></td>
                    <td><input type="button" value="Approve" class="approve" data-mini="true"></td>
                  </tr>
                </table>
              </div>
            </li>
        <% end %>
    <% end %>
  </ul>
  <br>
</div>

