<style type="text/css">
    a, a:visited {
        color: black;
        text-decoration: none;
    }
</style>

<%= content_for :page_title do %>
    Graffiti
<% end %>

<%= content_for :head do %>
    <script type="text/javascript">

        function create_post() {

            var prev_status = $('#status_here').html();
            var create_at = "<%= @post.created_at unless @post.blank? %>";
            var data = {user_id:[], comment:[]}
            data["user_id"].push('<%= @user.id %>');
            data["comment"].push($('#comment').val());
            $.ajax({
                url:"<%= update_status_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {

                    $('#status_here').html(data);
                    $('#comment').val("")

                    if (prev_status != "") {
                        $('.odd').prepend('<div style="background: rgba(178,204,255,0.93); width:auto;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: bold;color:#333333;font-size: 0.8em;border-radius: 5px 5px 0px 0px; "><%= current_user.name %> <span style="float:right;margin-right: 5px;font-size: 0.8em;font-weight: normal;color:#333333">' + create_at + '</span></div><table style="background: #e2eefa;width:100%;border-radius: 0px 0px 5px 5px; "><tr><td><% unless current_user.picture.blank? %><%= image_tag(current_user.picture) %><% end %></td><td><p style="margin-left: 5px;margin-bottom: 5px;margin-top: 5px;font-size: 0.8em;color:#333333">' + prev_status + '</p></td></tr></table></div><br>');
                    }
                    $('[type="submit"]').button('disable');
                }
            });
        }


        $(function () {

            $('[type="submit"]').button('disable');
            $(function () {
                $('[type="submit"]').button('disable');
                $('#comment').focus(function () {
                    $('[type="submit"]').button('enable');
                    if (( $('#comment')).length > 0) {

                    } else {
                        $('[type="submit"]').button('disable');

                    }
                });

            });

            $('#comment').blur(function () {
                if ($(this).val().length <= 0) {
                    $('[type="submit"]').button('disable');
                }
                else {
                    $('[type="submit"]').button('enable');
                }
            });

        });


    </script>
<% end %>

<%= content_for :page_menu do %>

<% end %>






<div id="status_here" class="status" style="font-size: 0.8em;"><%= @post.name unless @post.blank? %></div>
<div id="text">
  <%= text_area_tag :comment, "", :placeholder => "Pen down your thoughts",:style =>"font-size: 0.8em;"  %>
</div>
<div id="stat_button">
  <%= submit_tag "Post it now!", :'data-role' => "button", :'data-theme' => "a", :onclick => "create_post();",:'data-mini' => "true" %>
</div>
<br>
<hr>
<% if !@upcoming_meetings.blank? %>
    <% @upcoming_meetings.each do |meeting| %>
        <div class="fbinfobox1">
          <div style="background: rgba(46,64,27,0.97); width:100%;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: normal;">
            <%= ((meeting.meeters.select { |m| m.status }.map { |m| m.user.name } << meeting.user.name).delete_if { |n| n==current_user.name }).join(", ") %>

            <span style="float:right;margin-right: 5px;font-size: 0.7em;font-weight: normal;margin-top: 4px;"><%= meeting.start_time %>
              hrs on <%= meeting.start_time.strftime("%d %B") %></span>
          </div>
          <h3 style="margin-left: 5px;margin-bottom: 5px;margin-top: 5px;font-size: 0.8em;"><%= meeting.name %> @ <%= Location.find(meeting.location).name %></h3>
        </div>
    <% end %>
<% end %>


<% if !@upcoming_events.blank? %>
    <% @upcoming_events.each do |event| %>
        <div class="fbinfobox1">
          <div style="background: rgba(46,64,27,0.97); width:100%;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: normal;">
            <%= event.name %>
            <span style="float:right;margin-right: 5px;font-size: 0.7em;font-weight: normal;margin-top: 4px;"><%= event.start %>
              hrs on <%= event.start.strftime("%d %B") %></span>
          </div>
          <h3 style="margin-left: 5px;margin-bottom: 5px;margin-top: 5px;font-size: 0.8em;"><%= event.description %></h3>
        </div>

    <% end %>
<% end %>
<br>
<% if !@notice_board.blank? %>
    <% @notice_board.each do |post| %>
        <div class="fbinfobox1">
          <div style="background: rgba(46,64,27,0.97); width:100%;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: normal;">
            Organizer
            <span style="float:right;margin-right: 5px;font-size: 0.7em;font-weight: normal;margin-top: 4px;"><%= post.created_at %></span>
          </div>
          <table>
            <tr>
              <% unless post.user.picture.blank? %>
                  <td style="width:32px;max-width:32px;"><%= image_tag(post.user.picture) %></td>
              <% end %>
              <td><p style="margin-left: 5px;margin-bottom: 5px;margin-top: 5px;font-size: 0.8em;"><%= post.name %></p>
              </td>
            </tr>
          </table>
        </div>
    <% end %>
<% end %>
<br>
<% if !@followed.blank? %>
    <% @followed.each do |post| %>
        <% if !(post.user==current_user and post == @post) %>
            <div class="fbinfobox1">

              <div style="background: rgba(187,226,31,0.72); width:100%;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: normal;">
                <%= link_to post.user.name.titlecase, user_profile_path(post.user), :style => "color:#333333;font-size:0.8em;font-weight:normal;" %>
                <span style="float:right;margin-right: 5px;font-size: 0.7em;font-weight: normal;margin-top: 4px;"><%= post.created_at %></span>
              </div>
              <table>
                <tr>
                  <% unless post.user.picture.blank? %>
                      <td style="width:32px;max-width:32px;"><%= image_tag(post.user.picture) %></td>
                  <% end %>
                  <td>
                    <p style="margin-left: 5px;margin-bottom: 5px;margin-top: 5px;font-size: 0.8em;"><%= post.name %></p>
                  </td>
                </tr>
              </table>
            </div>
        <% end %>
    <% end %>
<% end %>

<% if !@event_day_name.nil? %>
    <%= @event_day_name.name %>
<% end %>
<br>



<div class='odd'>
  <div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true">
    <h3 style="font-size: 0.8em;">Event Wall</h3>
    <ul data-role="listview" data-theme="a" data-divider-theme="d">
      <% @graffiti.each do |post| %>
          <div class="fbinfobox1">
            <div style="background: rgba(178,204,255,0.93); width:100%;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: normal;">
              <%= link_to post.user.name.titlecase, user_profile_path(post.user), :style => "color:#333333;font-size:0.8em;font-weight:normal;" %>
              <span style="float:right;margin-right: 5px;font-size: 0.8em;font-weight: normal;"><%= post.created_at %></span>
            </div>
            <% unless post.user.picture.blank? %>
                <p style="width:32px;max-width:32px;"><%= image_tag(post.user.picture) %></p>
            <% end %>
            <p style="margin-left: 5px;margin-bottom: 5px;margin-top: 5px;font-size: 0.8em;"><%= post.name %></p>
          </div>
      <% end %>
    </ul>
  </div>
</div>



<br>
<div id="posting" class="fbinfobox1" style="display: none;">
  <% if @post %>
      <% if @post.user!=current_user %>
          <div style="background: rgba(178,204,255,0.93); width:100%;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: normal;">
            <span style="color:#333333;font-size:0.8em;font-weight:normal;"><%= @post.user.name.titlecase %></span>
            <span style="float:right;margin-right: 5px;font-size: 0.7em;font-weight: normal;margin-top: 4px;"><%= @post.created_at %></span>
          </div>
          <table>
            <tr>
              <% unless @post.user.picture.blank? %>
                  <td style="width:32px;max-width:32px;"><%= image_tag(@post.user.picture) %></td>
              <% end %>
              <td><p style="margin-left: 5px;margin-bottom: 5px;margin-top: 5px;font-size: 0.8em;"><%= post.name %></p>
              </td>
            </tr>
          </table>
      <% end %>
  <% end %>
</div>



<br>

<!--<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true">-->
  <!--<h3 style="font-size: 0.8em;">Post</h3>-->
  <!--<ul data-role="listview" data-theme="a" data-divider-theme="d">-->
    <%# @my_posts.each do |post| %>
        <!--<%# if !(post.user==current_user and post == @post) %>-->
            <!--<div class="fbinfobox1">-->
              <!--<div style="background: rgba(178,204,255,0.93); width:100%;padding-left:5px;padding-top:4px;padding-bottom:4px;border-radius:5px;font-weight: normal;">-->
                <!--<span style="color:#333333;font-size:0.8em;font-weight:normal;"><%#= @post.user.name.titlecase %></span>-->
                <!--<span style="float:right;margin-right: 5px;font-size: 0.8em;font-weight: normal;"><%#= @post.created_at %></span>-->
              <!--</div>-->
              <!--<table>-->
                <!--<tr>-->
                  <!--<%# unless post.user.picture.blank? %>-->
                      <!--<td style="width:32px;max-width:32px;"><%#= image_tag(post.user.picture) %></td>-->
                  <!--<%# end %>-->
                  <!--<td><p style="margin-left: 5px;margin-bottom: 5px;margin-top: 5px;font-size: 0.8em;"><%#= post.name %></p>-->
                  <!--</td>-->
                <!--</tr>-->
              <!--</table>-->
            <!--</div>-->
        <!--<%# end %>-->
    <!--<%# end %>-->
  <!--</ul>-->
<!--</div>-->





