<!DOCTYPE html>
<html lang="en">
<head>
  <%= content_for :page_title do %>
      Procialize
  <% end %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag "responsiveslides" %>
  <%= javascript_include_tag "responsiveslides.min" %>

  <style type="text/css">
      .img_style {
          max-height: 200px;

      }

      body {
          background-size: 100% 100%;
      }

      .ui-page {
          background: transparent;
      }

      .ui-content {
          background: transparent;
      }

  </style>




  <script>

      $(function () {
          $("#slider1").responsiveSlides({
              auto:true, // Boolean: Animate automatically, true or false
              speed:1500, // Integer: Speed of the transition, in milliseconds
              timeout:7000, // Integer: Time between slide transitions, in milliseconds
              random:true, // Boolean: Randomize the order of the slides, true or false
              pause:false, // Boolean: Pause on hover, true or false
              pauseControls:true, // Boolean: Pause when hovering controls, true or false
              maxwidth:"", // Integer: Max-width of the slideshow, in pixels
              navContainer:"", // Selector: Where controls should be appended to, default is after the 'ul'
              manualControls:"", // Selector: Declare custom pager navigation
              namespace:"rslides" // String: Change the default namespace used
          });


      });
  </script>
</head>
<body>


<div id="wrapper" style="height: 200px;">
  <ul class="rslides" id="slider1">
    <li><%= image_tag HomePageLogo.first.image_one.url, :class => "img_style" rescue"" %></li>
    <li><%= image_tag HomePageLogo.first.image_two.url, :class => "img_style" rescue"" %></li>
    <li><%= image_tag HomePageLogo.first.image_three.url, :class => "img_style" rescue"" %></li>
    <li><%= image_tag HomePageLogo.first.image_four.url, :class => "img_style"  rescue"" %></li>
    <li><%= image_tag HomePageLogo.first.image_five.url, :class => "img_style" rescue"" %></li>

    <% @survey_q= SurveyQuestion.all %>
    <% @survey_q.each do |s| %>
        <div id="surveys"  style="font-size: 1em;padding: 7px;">
          <li class="img_style" id="<%= s.id %>"><%= s.quest %>
            <br>
            <table cellpadding="3">
              <tr>
                <td style="vertical-align:top;"><%= s.option_a %></td><td></td><td></td>
                <td  style="vertical-align:middle;width:2em"><%= radio_button_tag "survey_options", "1", true, :class => "color_input", :style => "height:1em;width:1.5em;" %></td>
              </tr>
              <br>
              <tr>
                <td style="vertical-align:top;"><%= s.option_b %></td><td></td><td></td>
                <td  style="vertical-align:middle;width:2em;"><%= radio_button_tag "survey_options", "2", true, :class => "color_input", :style => "height:1em;width:1.5em;" %></td>
              </tr>
              <% if !s.option_c.blank? %>
                  <tr>
                    <td style="vertical-align:top;"><%= s.option_c %></td><td></td><td></td>
                    <td  style="vertical-align:middle;width:2em;"><%= radio_button_tag "survey_options", "3", true, :class => "color_input", :style => "height:1em;width:1.5em;" %></td>
                  </tr>
              <% end %>

              <% if !s.option_d.blank? %>
                  <tr>
                    <td style="vertical-align:top;"><%= s.option_d %></td>
                    <td></td>
                    <td></td>
                    <td  style="vertical-align:middle;width:2em;"><%= radio_button_tag "survey_options", "4", true, :class => "color_input", :style => "height:1em;width:1.5em;" %></td>
                  </tr>
              <% end %>
            </table>
          </li>
        </div>
    <% end %>
  </ul>

</div>

<div>

  <a class="index_styling" href="/speaker" data-ajax=false data-role="button" data-icon="microphone" data-mini="true">Speakers</a>
  <a class="index_styling" href="/search/search" data-ajax=false data-role="button" data-icon="group" data-mini="true">Delegates</a>
  <a class="index_styling" href="/ask_question" data-ajax=false data-role="button" data-icon="question" data-mini="true">Questions</a>
  <a class="index_styling" href="/graffiti" data-ajax=false data-role="button" data-icon="comment" data-mini="true">Updates</a>
  <a class="index_styling" href="/assets_download" data-ajax=false data-role="button" data-icon="download-alt" data-mini="true">Downloadables</a>
  <a class="index_styling" href="/ratings" data-ajax=false data-role="button" data-icon="exchange" data-mini="true">Feedback</a>
  <!--<a class="index_styling" href="/concierge_service" data-ajax=false data-role="button" data-icon="coffee" data-mini="true">Concierge</a>-->
  <a class="index_styling" href="/index" data-ajax=false data-role="button" data-icon="tags" data-mini="true">Exhibitor</a>
  <a class="index_styling" href="/contacts/new" data-ajax=false data-role="button" data-icon="phone" data-mini="true">Contact
    Us</a>



</div>
<script type="text/javascript">
    $(function () {

        $("input[name=survey_options]").click(function () {
            var a = $(this).parent().parent().parent().parent().parent().parent().attr('id');
            var value = $(this).val();
            var data = { user_id:[], survey_question_id:[], ans:[]}
            data["user_id"].push('<%= current_user.id%>');
            data["survey_question_id"].push(a);
            data["ans"].push(value);
            $.ajax({
                url:"<%= survey_storing_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    <%= add_gritter("Thank you for your response", :title => "Success",:image => :success,:time => 1000  ) %>
                }
            });

        });

    });

</script>

</body>
</html>
