<style type="text/css">
    a, a:visited {
        color: black;
        text-decoration: none;
    }
</style>

<%= content_for :page_title do %>
    <span style="color:white">Alum</span><span style="color:darkgray">port</span>
<% end %>

<%= content_for :head do %>
    <script type="text/javascript">
        function create_post() {

            var prev_status = $('#status_here').html();
            var create_at = "<%= @post.created_at unless @post.blank? %>";
//            alert(create_at);
            var data = {user_id:[], comment:[]}
            data["user_id"].push('<%= @user.id %>');
            data["comment"].push($('#comment').val());
            $.ajax({
                url:"<%= update_status_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {

                    $('#status_here').html(data);
                    $('#comment').val("")

                    if (prev_status != "") {
                        $('.odd').prepend('<div class="fbinfobox1"><div style="background: rgba(165,165,165,0.97); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold"><%= current_user.name %><span style="float:right;margin-right: 0.2em">' + create_at + '</span></div><table><tr><td style="width:32px;max-width:32px;"><%= image_tag(current_user.picture) unless current_user.picture.blank? %></td><td>' + prev_status + '</td></tr></table></div>');
                    }
                    $('[type="submit"]').button('disable');
                }
            });
        }



        $(function(){

            $('[type="submit"]').button('disable');
            $(function () {
                $('[type="submit"]').button('disable');
                $('#comment').focus (function () {
                    if (( $('#comment')).length > 0) {
                        $('[type="submit"]').button('enable');

                    } else {
                        $('[type="submit"]').button('disable');

                    }
                });

            });

            $('#comment').blur(function () {
                if ($(this).val().length <= 0) {
                    $('[type="submit"]').button('disable');
                }
                else{
                    $('[type="submit"]').button('enable');
                }
            });

        }) ;



    </script>
<% end %>

<%= content_for :page_menu do %>
    <ul>
      <li><a href="/users/<%= @user.id %>/profile" data-ajax=false data-theme='b'>View Profile</a></li>
      <li><a href="/search/search" data-ajax=false data-theme='b'>Find Friends</a></li>
      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete, :'data-ajax' => false, :'data-theme' => 'b' %></li>
    </ul>
<% end %>



<div style="margin-top: 0">
  <div style="float: right;margin-top: -1em">
    <% unless current_user.id==1 %>
        <a href="/contacts/new" data-ajax=false data-role=button>Contact</a>
    <% end %>
    <a href="/invitees/new" data-ajax=false data-role=button>Invite</a>
  </div>
  <% unless @photo.blank? %>
      <%= image_tag @photo, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px;vertical-align:50px;" %>
  <% end %>
  <%= @name.titlecase %>

  <br>
  <small><%= @headline %></small>
  <br>
  <small><%= @batch %></small>
</div>

<div id="location" style="font-weight: bold;margin-top: 30px;">
  <% if !@last_seen.nil? %>
      Last Seen at   <%= @last_seen.name %>
  <% end %>
  <% if !@created_at.nil? %>
      at <%= @created_at.created_at %>
  <% end %>
</div>
<br>



<div id="status_here" class="status" style="font-style: italic;"><%= @post.name unless @post.blank? %></div>
<div id="text">
  <%= text_area_tag :comment, "", :placeholder => "Write a post for the Graffiti Wall" %>
</div>
<div id="stat_button">
  <%= submit_tag "Post it!", :'data-role' => "button", :'data-theme' => "a", :onclick => "create_post();" %>
</div>

<% if !@upcoming_meetings.blank? %>
    <% @upcoming_meetings.each do |meeting| %>
        <div class="fbinfobox1">
          <div style="color:white;background: rgba(46,64,27,0.97); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold">
            <%= ((meeting.meeters.select { |m| m.status }.map { |m| m.user.name } << meeting.user.name).delete_if { |n| n==current_user.name }).join(", ") %>

            <span style="float:right;margin-right: 0.2em"><%= meeting.start_time %>
              hrs on <%= meeting.start_time.strftime("%d %B") %></span>
          </div>
          <h3><%= meeting.name %> @ <%= Location.find(meeting.location).name %></h3>
        </div>
    <% end %>
<% end %>


<% if !@upcoming_events.blank? %>
    <% @upcoming_events.each do |event| %>

        <div class="fbinfobox1">
          <div style="color:white;background: rgba(46,64,27,0.97); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold">
            <%= event.name %>
            <span style="float:right;margin-right: 0.2em"><%= event.start %> hrs on <%= event.start.strftime("%d %B") %></span>
          </div>
          <h3><%= event.description %></h3>
        </div>

    <% end %>
<% end %>

<% if !@notice_board.blank? %>
    <% @notice_board.each do |post| %>
        <div class="fbinfobox1">
          <div style="color:white;background: rgba(46,64,27,0.97); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold">
            Organizer
            <span style="float:right;margin-right: 0.2em"><%= post.created_at %></span>
          </div>
          <table>
            <tr>
              <% unless post.user.picture.blank? %>
                  <td style="width:32px;max-width:32px;"><%= image_tag(post.user.picture) %></td>
              <% end %>
              <td><%= post.name %></td>
            </tr>
          </table>
        </div>
    <% end %>
<% end %>

<% if !@followed.blank? %>
    <% @followed.each do |post| %>
        <% if !(post.user==current_user and post == @post) %>
            <div class="fbinfobox1">
              <div style="background: rgba(187,226,31,0.72); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold">
                <%= link_to post.user.name.titlecase, user_profile_path(post.user), :style => "color:black;" %>
                <span style="float:right;margin-right: 0.2em"><%= post.created_at %></span>
              </div>
              <table>
                <tr>
                  <% unless post.user.picture.blank? %>
                      <td style="width:32px;max-width:32px;"><%= image_tag(post.user.picture) %></td>
                  <% end %>
                  <td><%= post.name %></td>
                </tr>
              </table>
            </div>
        <% end %>
    <% end %>
<% end %>

<% if !@event_day_name.nil? %>
    <%= @event_day_name.name %>
<% end %>
<div class='odd'>
  <% @graffiti.each do |post| %>

      <div class="fbinfobox1">
        <div style="color:white;background: rgba(129,170,44,0.96); width:98%;padding:2px;padding-left:5px;border-radius:3px;">
          <%= link_to post.user.name.titlecase, user_profile_path(post.user), :style => "color:white;font-weight:normal" %>
          <span style="float:right;margin-right: 0.2em"><%= post.created_at %></span>
        </div>
        <table>
          <tr>
            <% unless post.user.picture.blank? %>
                <td style="width:32px;max-width:32px;"><%= image_tag(post.user.picture) %></td>
            <% end %>
            <td><%= post.name %></td>
          </tr>
        </table>
      </div>
  <% end %>
</div>



<div id="posting" class="fbinfobox1" style="display: none;">
  <% if @post %>
      <% if @post.user!=current_user %>
          <div style="background: rgba(187,187,187,0.97); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold">
            <%= @post.user.name.titlecase %>
            <span style="float:right;margin-right: 0.2em"><%= @post.created_at %></span>
          </div>
          <table>
            <tr>
              <% unless @post.user.picture.blank? %>
                  <td style="width:32px;max-width:32px;"><%= image_tag(@post.user.picture) %></td>
              <% end %>
              <td><%= @post.name %></td>
            </tr>
          </table>
      <% end %>
  <% end %>
</div>

<% @my_posts.each do |post| %>
    <% if !(post.user==current_user and post == @post) %>
        <div class="fbinfobox1">
          <div style="background: rgba(165,165,165,0.97); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold">
            <%= post.user.name.titlecase %>
            <span style="float:right;margin-right: 0.2em"><%= post.created_at %></span>
          </div>
          <table>
            <tr>
              <% unless post.user.picture.blank? %>
                  <td style="width:32px;max-width:32px;"><%= image_tag(post.user.picture) %></td>
              <% end %>
              <td><%= post.name %></td>
            </tr>
          </table>
        </div>
    <% end %>
<% end %>




