<%= content_for :page_title do %>
    Procialize
<% end %>

<%= content_for :head do %>
    <script type="text/javascript">
        function create_post() {
            var data = {user_id:[], comment:[]}
            data["user_id"].push('<%= @user.id %>');
            data["comment"].push($('#comment').val());
            $.ajax({
                url:"<%= update_status_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    $('#status_here').html(data);
                    $('#comment').val("");
                }
            });
        }
    </script>
<% end %>

<%= content_for :page_menu do %>
    <ul>
      <li><a href="#">View Profile</a></li>
      <li><a href="#">Edit Profile</a></li>
      <li><a href="/search/index">Search</a></li>


      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete, :'data-ajax' => false %></li>
    </ul>
<% end %>

<%= image_tag @photo, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px" %>
<h4><%= @name.titlecase %>
  <br>
  <small><%= @headline %></small>
  <br>
  <small><%= @batch %></small>
</h4>
<%= text_area_tag :comment, "", :placeholder => "Write up your thoughts" %>
<%= submit_tag "Post it!", :'data-role' => "button", :'data-theme' => "a", :onclick => "create_post();" %>
<hr>
   <br>
   <br>
<a href="/invitees/new" data-rel="dialog" data-ajax=false data-role=button data-transition="pop">Invite your friends</a>

<br>

<span id="location"><h3>Your are  at <%= @last_seen.name %> at <%= @last_seen.created_at %> </h3></span>
<br>

<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Meetings in the next two hours</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d" data-inset="true">
    <% @upcoming_meetings.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">
            <h3><%= ((meeting.meeters.select { |m| m.status }.map { |m| m.user.name } << meeting.user.name).delete_if { |n| n==current_user.name }).join(", ") %></h3>

            <p><%= meeting.name %> @ <%= Location.find(meeting.location).name %></p>

            <p class="ui-li-aside">
              <strong><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Events in the next two hours</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d" data-inset="true">
    <% @upcoming_events.each do |event| %>
        <li>
          <%= link_to event do %>
              <%= event.name %>
              <p class="ui-li-aside"><%= event.start %></p>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Unread Messages</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d" data-inset="true">
    <% @unread.each do |message| %>
        <li>
          <a href="<%= message_path(message) %>" data-ajax="false">
            <h3><%= message.user.name %></h3>

            <p><%= message.name %></p>

            <p class="ui-li-aside"><strong><%= message.created_at %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Pending Invitations</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d" data-inset="true">
    <% @pending.each do |meeting| %>
        <li>
          <a href="<%= meeting_path(meeting) %>" data-ajax="false">
            <h3><%= ((meeting.meeters.select { |m| m.status }.map { |m| m.user.name } << meeting.user.name).delete_if { |n| n==current_user.name }).join(", ") %></h3>

            <p><%= meeting.name %> @ <%= Location.find(meeting.location).name %></p>

            <p class="ui-li-aside">
              <strong><%= meeting.start_time %> hrs on <%= meeting.start_time.strftime("%d %b") %></strong></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Notice Board</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d" data-inset="true">
    <% @notice_board.each do |post| %>
        <li>
          <h3><%= post.user.name %></h3>

          <p><%= post.name %></p>

          <p class="ui-li-aside"><strong><%= post.created_at %></strong></p>
        </li>
    <% end %>
  </ul>
</div>
<div data-role="collapsible" data-theme="a" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
  <h2>Graffiti</h2>
  <ul data-role="listview" data-theme="a" data-divider-theme="d" data-inset="true">
    <% @followed.each do |post| %>
        <li>
          <h3><%= post.user.name %></h3>

          <p><%= post.name %></p>

          <p class="ui-li-aside"><strong><%= post.created_at %></strong></p>
        </li>
    <% end %>
    <% @graffiti.each do |post| %>
        <li>
          <h3><%= post.user.name %></h3>

          <p><%= post.name %></p>

          <p class="ui-li-aside"><strong><%= post.created_at %></strong></p>
        </li>
    <% end %>
  </ul>
</div>




