<%= content_for :page_title do %>
    Procialize
<% end %>

<%= content_for :head do %>
    <script type="text/javascript">
        function update_status() {
            var data = {user_id:[], comment:[]}
            data["user_id"].push('<%= @user.id %>');
            data["comment"].push($('#comment').val());
            $.ajax({
                url:"<%= update_status_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                    $('#status_here').html(data);
                    $('#comment').val("");
                }
            });
        }
    </script>
<% end %>

<%= image_tag @photo, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px" %>
<h4><%= @name.titlecase %>
  <br>
  <small><%= @headline %></small>
</h4>
<br>

<%= text_area_tag :comment, "", :placeholder => "Post your thoughts" %>
<%= submit_tag "Update", :'data-role' => "button", :'data-theme' => "a", :onclick => "update_status();" %>

<hr>
<hr>

<ul>
  <div class="fbinfobox">
  <% @followers=Follower.find_all_by_user_id(@user.id) %>
  <% @status=Array.new %>
  <% @followers.each do |f| %>
      <% if !User.find(f.follower_id).statuses.nil? %>
          <% @status<<User.find(f.follower_id).statuses.last %>

      <% end %>
  <% end %>
  <% @status.each do |stat| %>
      <% if !stat.nil? %>
          <% @name = User.find(stat.user_id).name %>
          <li><%= @name.titleize %></li>

         <small><%= stat.comment %></small>
      <% end %>
  <% end %>


  </div>
</ul>





