<%= content_for :page_title do %>
    <%= @conference.name %>
<% end %>
<!--<div class="content-primary">-->
<!--<ul data-role="listview" data-theme="a" data-divider-theme="b">-->
<!--<%#= @event2 %>-->
<!--<%# @event_days.each do |event_day| %>-->
<!--<li data-role="list-divider">-->
<%#= event_day.name %>
<!--<%# event_day.events.each do |event| %>-->
<!--<li>-->
<!--<%#= link_to event do %>-->
<!--<%#= event.name %>-->
<!--<p class="ui-li-aside">
                  <%#= event.start %></p>-->
<!--<%# end %>-->
<!--</li>-->
<!--<%# end %>-->
<!--</li>-->
<!--<%# end %>-->
<!--</ul>-->
<!--</div>-->






<div data-role="collapsible" data-inset="false" data-collapsed="true">
  <h3>Day One</h3>


  <ul data-role="listview">
    <% @event1.each do |event_one| %>
        <li>
          <%= link_to event_path(event_one) do %>
              <%= event_one.name %>
              <p class="ui-li-aside">
                <%= event_one.start %></p>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
 <br>
<div data-role="collapsible" data-inset="false" data-collapsed="true">
  <h3>Day Two</h3>


  <ul data-role="listview">
    <% @event2.each do |event_two| %>
        <li>
          <%= link_to event_path(event_two) do %>
              <%= event_two.name %>
              <p class="ui-li-aside">
                <%= event_two.start %></p>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<br>
<div data-role="collapsible" data-inset="false" data-collapsed="true">
  <h3>Day Three</h3>


  <ul data-role="listview">
    <% @event3.each do |event_three| %>
        <li>
          <%= link_to event_path(event_three) do %>
              <%= event_three.name %>
              <p class="ui-li-aside">
                <%= event_three.start %></p>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

