<%= content_for :page_title do %>
    <%= @conference.name %>
<% end %>
<div class="content_container">
  <div class="content-primary">
    <ul data-role="listview" data-theme="a" data-divider-theme="b">
      <% @event_days.each do |event_day| %>
          <li data-role="list-divider"><%= event_day.name %>
            <% event_day.events.each do |event| %>
              <li>
                <%= link_to event do %>
                    <%= event.name %>
                    <p class="ui-li-aside"><%= event.start %></p>
                <% end %>
              </li>
          <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>

