<%= content_for :page_title do %>
    Events
<% end %>

<ul data-role="listview">
  <li data-role="list-divider"><%= @event1.first.event_day.name %></li>
  <% @event1.each do |event_one| %>
      <li>
        <a href="<%= event_path(event_one) %>" data-ajax=false>
          <h3><%= event_one.start %></h3>
          <p><%= event_one.name %></p>
        </a>
      </li>
  <% end %>
  <li data-role="list-divider"><%= @event2.first.event_day.name %></li>
  <% @event2.each do |event_one| %>
      <li>
        <a href="<%= event_path(event_one) %>" data-ajax=false>
          <h3><%= event_one.start %></h3>
          <p><%= event_one.name %></p>
        </a>
      </li>

  <% end %>
</ul>

