<%= content_for :page_title do %>
    <%= @conference.name %>
<% end %>

<ul data-role="listview">
  <li data-role="list-divider"><%= @event1.first.event_day.name %></li>
  <% @event1.each do |event_one| %>
      <li>
        <%= link_to event_path(event_one) do %>
            <h3><%= event_one.start %></h3>
            <p><%= event_one.name %></p>
        <% end %>
      </li>
  <% end %>
  <li data-role="list-divider"><%= @event2.first.event_day.name %></li>
  <% @event2.each do |event_one| %>
      <li>
        <%= link_to event_path(event_one) do %>
            <h3><%= event_one.start %></h3>
            <p><%= event_one.name %></p>
        <% end %>
      </li>
  <% end %>
</ul>
<br>
