<%= content_for :page_title do %>
    Procialize: Events
<% end %>

<div class="content-primary">

  <h1>Conference: <br>
    <small><%= @conference.name %></small>
  </h1>
  <br>
  <br>

  <ul data-role="listview" data-theme="a" data-divider-theme="a">
    <% @event_days.each do |event_day| %>
        <li data-role="list-divider"><%= event_day.name %>
          <% event_day.events.each do |event| %>
            <li>
              <%= link_to event do %>
                  <%= event.start %>: <%= event.name %>
              <% end %>
            </li>
        <% end %>
        </li>
    <% end %>

  </ul>
</div>

