<%= content_for :page_title do %>
    <%= @event.event_day.name.titleize %> Event
<% end %>

<table>
  <tr>
    <td><%= image_tag "dummy.png", :style => "margin-right:10px;max-width:120px;min-height:120px;" %></td>
    <td>
      <%= @event.name %>
      <br>
      <small><%= image_tag "clock.png", :style => "vertical-align:middle;margin-left:-18px;" %><%= @event.start %></small>
    </td>
  </tr>
</table>

<br>
<% unless @event.name=="Coffee / Tea Break" or @event.name=="Lunch" or @event.name=="Registration" or @event.name=="Gala Dinner" %>
<div class="fbinfo">
  <p><%= raw @event.description %></p>
</div>
<br>
<br>

    <%= render "questionables/form" %>
<% end %>
