<%#= javascript_include_tag "bjqs-1.3" %>
<%#= stylesheet_link_tag "bjqs" %>

<script type="text/javascript">
    $(function(){
        $('select').val('<%=@ev_d%>');
        $('select').change(function(){
            window.location = '/events/'+<%=@event.id%>+'/'+$(this).val();

        });
    });

//jQuery(document).ready(function($) {
//    $('#my-slideshow').bjqs({
//        'height' : 320,
//        'width' : 620,
//        'responsive' : true
//    });
//
//    $('.bjqs-next').click(function(){
////        window.location = '/events/'+<%#=@event.id%>+'/'+$(this).val();
//
////        window.location = '/events/'+<%#=@event.id%>+'/'+$(this).val();
//    })
//});

</script>

<div class="row-fluid">
  <div class="span9">
    <p id="notice"><%= notice %></p>

    <div class="notice-bar">
      <%= select_tag :event_day, options_for_select(@days)%>
      <%#= select ('event_day',@,{},{:id =>'opponent_team_id'}) %>
      <!--<div id="my-slideshow">-->
        <!--<ul class="bjqs">-->
          <!--<%# @eve %>-->
          <!--<%# @days.each_with_index do |event, index| %>-->
          <!--<li><div id='<%#= index+1 %>'><h2><%#= event.titleize %></h2></div></li>-->
              <!--<%# end %>-->

        <!--</ul>-->
      <!--</div>-->

    </div>

    <div class="fbinfobox">
    <table border="2">

      <tr>
        <th>Event Name</th>
        <th>Event description</th>
        <th>Event location</th>
        <th>Event start_at</th>
        <th>Event end_at</th>


      </tr>

      <% @eve.each do |event| %>

    <tr>


            <td><%=link_to event.event_name,event_show_path(event.id) %></td>

            <td><%= event.event_description %></td>

            <td><%= event.event_location %></td>


            <td><%= event.start_at %></td>

            <td><%= event.end_at %></td>

        <% end %>
    </tr>
    </table>
    <%#= link_to 'Calendar', :controller => "calendar", :action => "index" %>
    <%#= link_to 'Edit', edit_event_path(@event) %>
    <%#= link_to 'Back', events_path %>






  </div>

  </div>
</div>































































<!--<p>-->
<!--<b>Event name:</b>-->
<!--<%#= @event.event_name %>-->
<!--</p>-->

<!--<p>-->
<!--<b>Event description:</b>-->
<!--<%#= @event.event_description %>-->
<!--</p>-->

<!--<p>-->
<!--<b>Event location:</b>-->
<!--<%#= @event.event_location %>-->
<!--</p>-->

<!--<p>-->
<!--<b>Event datetime:</b>-->
<!--<%#= @event.event_datetime %>-->
<!--</p>-->

<!--<p>-->
<!--<b>Organizer:</b>-->
<!--<%#= @event.organizer_id %>-->
<!--</p>-->

<!--<p>-->
<!--<b>User:</b>-->
<!--<%#= @event.user_id %>-->
<!--</p>-->