<%= content_for :page_title do %>
    <%= @event.event_day.name.titlecase %> Event
<% end %>

<h3>
  <%= image_tag "dummy.gif", :style => "float:left; margin-right:10px;" %>
  <%= @event.name %>
  <br>
  <small><%= image_tag "clock.png", :style => "vertical-align:middle;margin-left:-18px;" %><%= @event.start %></small>
</h3>

<%= @event.description %>

<div data-role="controlgroup" data-type="horizontal">
  <a href="#" data-role="button">Accept</a>
  <a href="#" data-role="button">Share</a>
  <a href="#" data-role="button">Feedback</a>
</div>
<h3 style="margin-top: 30px;padding-bottom: 15px;">Confirmed Attendees</h3>
<ul data-role="listview" data-filter="true">
  <li><a href="acura.html">Acura</a></li>
  <li><a href="audi.html">Audi</a></li>
  <li><a href="bmw.html">BMW</a></li>
  <li><a href="bmw.html">Carbn</a></li>
  <li><a href="bmw.html">Dido</a></li>
  <li><a href="bmw.html">Eta</a></li>
</ul>

