<%= content_for :page_title do %>
    <%= @event.event_day.name.titlecase %> <%= @event.start %>
<% end %>

<%= @event.name %>

<div data-role="collapsible" data-theme="a" data-content-theme="a">
  <h3>Details</h3>
  <table data-theme="b">
    <tr>
      <td>
        <b>Start time : </b>
      </td>
      <td>
        <%= @event.start %>
      </td>
    </tr>
    <tr>
      <td>
        <b>End time :</b>

      </td>
      <td>
        <%= @event.end %>
      </td>
    </tr>
    <tr>
      <td>


      </td>
    </tr>
    <td>

    </td>
    </tr>
    <tr>
      <td>
        <b>Description :</b>

      </td>
      <td>
        <%= @event.description %>
      </td>
    </tr>
  </table>
</div>




















<!--<div class="fbinfobox">-->
<!--<div class="ui-grid-a">-->

<!--<div class="ui-block-a">-->


<!--<table>-->
<!--<%#= image_tag @event.avatar.url %>-->

<!--</table>-->


<!--</div>-->
<!--<div class="ui-block-b">-->

<!--<div class="content-primary" style="padding: 10px;">-->

<!--<h1>Conference: <br>-->
<!--<small><%#= @conference.name %></small>-->
<!--</h1>-->

<!--<ul data-role="listview" data-theme="a" data-divider-theme="b">-->

<!--<li data-role="list-divider"><h3><%#= @event.name %></h3>-->
<!--<li>Start time  :-->
<%#= @event.start %>
<!--</li>-->
<!--<li>End time  :-->
<%#= @event.end %>
<!--</li>-->
<!--<li>Description  :-->
<%#= @event.description %>
<!--</li>-->

<!--</li>-->







<!--</ul>-->
<!--</div>-->
<!--<div class="button_tag">-->


<!--<td><%#= button_tag "Accept", :class => "btn btn-success" %></td>-->
<!--<td><%#= button_tag "Decline", :class => "btn btn-warning" %></td>-->
<!--<td><%#= button_tag "Share", :class => "btn " %></td>-->
<!--<td><%#= button_tag "Feedback", :class => "btn btn-info" %></td>-->

<!--<td><a href="/event" data-role="button" data-icon="arrow-l">Back</a><%#= button_tag "Back",:class => "btn btn-success" data-icon="arrow-l" %></td>-->
<!--</div>-->
<!--</tr>-->


<!--</table>-->

</div>
</div>

</div>

