<%= content_for :page_title do %>
    <%= @event.event_day.name.titlecase %> Event
<% end %>

<h3>
  <%= image_tag "dummy.png", :style => "float:left; margin-right:10px;" %>
  <%= @event.name %>
  <br>
  <small><%= image_tag "clock.png", :style => "vertical-align:middle;margin-left:-18px;" %><%= @event.start %></small>
</h3>

<%= @event.locations.map{|l| l.name}.join(", ")%>
<br>
<%= @event.description %>






<% if @my_attendee.blank? %>
    <%= link_to "Accept", attend_event_path(@event), :'data-role' => "button", :'data-ajax' => false, :flash_notice => "Accepted" %>
    <!--<a href="<%#= attend_event_path(@event) %>" data-role="button" >Accept</a>-->
<% end %>

<h3 style="margin-top: 30px;padding-bottom: 15px;">Confirmed Attendees</h3>

<ul data-role="listview" data-theme='a' data-filter-placeholder="Search by industry, name or class" data-split-icon='star' data-filter="true" data-divider-theme="d" data-role="list-divider" data-split-theme="c">

  <% @attendees.each do |user| %>
      <% if Follower.find_by_user_id_and_follower_id(current_user.id, user.id).blank? %>
          <li data-theme='a' data-filtertext=" <%= user.name %> <%= user.batchie %> <%= user.headline %> <%= user.industry %>">
            <a href="<%= user_profile_path(user) %>" data-ajax=false data-theme='a'>
              <%= user.name.titlecase %>
              <p class="ui-li-aside"><%= user.batchie %></p>
            </a>
          </li>
      <% else %>
          <li data-theme='b' data-filtertext="<%= user.name %> <%= user.batchie %> <%= user.headline %> <%= user.industry %>">
            <a href="<%= user_profile_path(user) %>" data-ajax=false data-theme='b'>
              <%= user.name.titlecase %>
              <span id="following<%= user.id %>" class="highlighted">Following</span>
            </a>
          </li>
      <% end %>
  <% end %>

</ul>


<br>
<br>
<br>
<% if @event.quest==true  %>
       <%= render "questionables/form" %>
<% end %>
