<%= content_for :page_title do %>
    Contact us
<% end %>



<%= form_for :message, url: {action: :create} do |f| %>

    <%= f.hidden_field :conference_id, :value => Conference.last.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= select_tag 'receipient_users[]', options_for_select(@use) %>


    <div class="field">
      <%= f.text_area :body, :rows => '5',:style => "height:85px;",:placeholder => "'We hope and sincerely wish that this conference is a value add to you. We further trust that you would have found Procialize an enjoyable experience. We would love to have your comments, thoughts, complaints or feedback. Please do let us know by typing your comments in this space and clicking on the send button. We will definitely get back to you in the shortest possible time.'" %>
    </div>
    <div data-role="controlgroup" data-type="horizontal" style="float: right;">
      <%= f.submit "Send", :'data-role' => "button", :'data-ajax' => "false" %>
    </div>
<% end %>






<div style=" margin-top: 20%;padding: 5px;">
<h3>Contact Us</h3>



<div>
  <ul>Professor K Ramachandran</ul>
  <ul>Thomas Schmidheiny Chair Professor of Family Business and Wealth Management.</ul>
  <ul>Indian School of Business</ul>
    <ul>Gachibowli</ul>
      <ul>Hyderabad-500032</ul>
</div>
<br>
<h4>Regarding conference information, please contact our co-ordinators</h4>

<div>
  <ul>Sushma GNVS</ul>
  <ul>Email: GNVS_Sushma@isb.edu</ul>
  <ul>Phone: +91 40 2318 7189</ul>
  <br>
  <ul>Abhay Bhatia</ul>
  <ul>Email: Abhay_Bhatia2013@pgp.isb.edu</ul>
  <ul>Mobile: +91 8146-662047</ul>
</div>
</div>