<div class="content_container">
  <h2>Edit <%= link_to image_tag("log-in-linkedin-large.png", :style => "width:50%;"), user_omniauth_authorize_path(:linkedin), :'data-ajax' => false,:style=>"float:right;" %></h2>


  <%= form_for :user, :url => {:action => :update}, :method => :put do |f| %>

      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :industry %>
        <%= f.select :industry, options_for_select([ "Farming", "Ranching", "Dairy", "Fishery","Fine Art"],:prompt=>"Select Industry") %>
      </p>

      <p>
        <%= f.label :educations %>
        <%= f.text_field :educations %>
      </p>

      <p>
        <%= f.label :skills %>
        <%= f.text_field :skills %>
      </p>

      <p>
        <%= f.label :headline %>
        <%= f.text_area :headline %>
      </p>

      <p>
        <%= f.label :location %>
        <%= f.text_field :location %>
      </p>

      <p>
        <%= f.label :interest %>
        <%= f.text_field :interest %>
      </p>


      <p>
        <%= f.label :industry %>
      <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false" data-mini="true" style="margin-left:1%;width: 98%;">
        <h3 style="font-size: 0.8em;"><%= @user.industry %></h3>
        <ul data-role="listview" data-theme="a" data-filter-placeholder="Search by industry" data-split-icon='star' data-mini="true" data-filter="true">
          <li class="industry"> Farming<input type="radio" name="radio-choice"  value="choice-2"  /> </li>
          <li class="industry"> Ranching<input type="radio" name="radio-choice"  value="choice-2"  /></li>
          <li class="industry"> Diary<input type="radio" name="radio-choice"  value="choice-2"  /></li>
          <li class="industry"> Fishery<input type="radio" name="radio-choice"  value="choice-2"  /></li>
          <li class="industry"> Fine art<input type="radio" name="radio-choice"  value="choice-2"  /></li>
        </ul>
      </div>
      </p>

      <p>
        <%= f.submit "Save" %>
      </p>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $('.industry').click(function () {
            var industry = $(this).text();
            var data = {industry:[], user_id:[]}
            data["industry"].push(industry);
            data["user_id"].push('<%=current_user.id %>');
            $.ajax({
                url:"<%= editing_profile_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {

                }
            });
        });
    });


</script>
