<%= content_for :page_title do %>
    Edit Profile
<% end %>
<div class="content_container">

  <%= form_for :user, :url => {:action => :update}, :method => :put do |f| %>

  <h6>Update your profile manually</h6>

      <p>
        <%= f.label :name,:style => "font-size:0.8em;" %>
        <%= f.text_field :name,:style => "font-size:0.8em;" %>
      </p>

      <p>
        <%= f.label :headline,:style => "font-size:0.8em;" %>
        <%= f.text_area :headline,:style => "font-size:0.8em;" %>
      </p>

      <p>
        <%= f.label :industry,:style => "font-size:0.8em;" %>
        <%= f.text_area :industry,:style => "font-size:0.8em;" %>

      </p>


      <p>
        <%= f.label :location,:style => "font-size:0.8em;" %>
        <%= f.text_area :location,:style => "font-size:0.8em;" %>

      </p>



      <p>
        <%= f.label :skills,:style => "font-size:0.8em;" %>
        <%= f.text_area :skills,:style => "font-size:0.8em;" %>
      </p>


      <p>
        <%= f.label :interest,:style => "font-size:0.8em;" %>
        <%= f.text_area :interest,:style => "font-size:0.8em;" %>
      </p>

      <br>
      <p>
        <%= f.submit "Save",:'data-mini' => "true"  %>
      </p>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        if ($('#industry .ui-btn-text').text()==" click to expand contentsclear text") {
            $('#industry .ui-btn-text').text("Industry");
        }

        if ($('#location .ui-btn-text').text()==" click to expand contentsclear text") {
            $('#location .ui-btn-text').text("Location");
        }

        if ($('#skills .ui-btn-text').text()==" click to expand contentsclear text") {
            $('#skills .ui-btn-text').text("Skills");
        }

        if ($('#interest .ui-btn-text').text()==" click to expand contentsclear text") {
            $('#interest .ui-btn-text').text("Interest");
        }

        $('.industry').click(function () {
            var adding=$(this).text();
            $('#industry .ui-btn-text').text(adding);
            var industry = $(this).text();
            var data = {industry:[], user_id:[]}
            data["industry"].push(industry);
            data["user_id"].push('<%=current_user.id %>');
            $.ajax({
                url:"<%= editing_profile_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                }
            });
        });

        $('.location').click(function () {
            var adding=$(this).text();
            $('#location .ui-btn-text').text(adding);
            var location = $(this).text();
            var data = {location:[], user_id:[]}
            data["location"].push(location);
            data["user_id"].push('<%=current_user.id %>');
            $.ajax({
                url:"<%= editing_profile_location_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                }
            });
        });

        $('.skills').click(function () {

            var adding=$(this).text();
            $('#skills .ui-btn-text').text(adding);
            var skills = $(this).text();
            var data = {skills:[], user_id:[]}
            data["skills"].push(skills);
            data["user_id"].push('<%=current_user.id %>');
            $.ajax({
                url:"<%= editing_profile_skills_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                }
            });
        });

        $('.interest').click(function () {
            var adding=$(this).text();
            $('#interest .ui-btn-text').text(adding);
            var interest = $(this).text();
            var data = {interest:[], user_id:[]}
            data["interest"].push(interest);
            data["user_id"].push('<%=current_user.id %>');
            $.ajax({
                url:"<%= editing_profile_interest_path %>",
                type:"post",
                data:JSON.stringify(data),
                contentType:"application/json",
                success:function (data) {
                }
            });
        });


    });


</script>


<style type="text/css">
  .industry, .interest, .location ,.skills {
      font-size: 0.8em;
  }
</style>