<%= content_for :head do %>
    <script type="text/javascript">
        function follow() {
            $.ajax({
                url:"<%= follow_path(@user.id) %>",
                type:"post",
                success:function (data) {
                    $("#follow_button .ui-btn-text").html(data);
                    if (data == "Follow") {
                        $('#follow_notice').html("Not Followed");
                    } else {
                        $('#follow_notice').html("Followed");
                    }
                }
            });
        }
    </script>
<% end %>

<%= content_for :page_menu do %>
    <ul>
      <li><%= link_to "Request Meeting", focussed_meeting_path(@user), :'data-role' => "button", :'data-theme' => "a" %></li>
      <li><%= link_to "Send Message", focussed_message_path(@user), :'data-role' => "button", :'data-theme' => "a" %></li>
    </ul>
<% end %>


<% unless @photo.blank? %>
    <%= image_tag @photo, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px" %>
<% end %>
<h4 style="margin-top: 5px;"><%= @name.titlecase %>


  <br>
  <small><%= @headline %></small>
  <br>
  <small><%= "#{@industry} background" unless @industry.blank? %> </small>
  <br>
  <span id="follow_notice" style="float:left"><%= Follower.find_by_user_id_and_follower_id(current_user.id, @user.id).blank? ? "Not Followed" :"Followed" %></span>
</h4>
<br>
<span id="location"><h3>Last Seen at
  <% if !@last_seen.nil? %>
  <%= @last_seen.name %>
   <% end %>
  at
  <%# @created.each do |create| %>
      <%= @created.created_at %>
  <%# end %>
</h3></span>
<%= link_to "#{Follower.find_by_user_id_and_follower_id(current_user.id, @user.id).blank? ? 'Follow' :'Unfollow'}", "#", :'data-role' => "button", :'data-theme' => "a", :onclick => "follow()", :id => "follow_button" %>
<br>


<strong>Work</strong>
<br>
<ul>
  <% @positions.each do |position| %>
      <li><%= position %></li>
  <% end %>
</ul>
<strong>Education</strong>
<br>
<ul>
  <% @educations.each do |education| %>
      <li><%= education %></li>
  <% end %>
</ul>

<h2>Posts</h2>
<br>
<ul data-role="listview" data-theme="a">
  <% @posts.each do |post| %>
      <li>
        <h3><%= post.user.name %></h3>

        <p><%= post.name %></p>

        <p class="ui-li-aside"><strong><%= post.created_at %></strong></p>
      </li>
  <% end %>
</ul>

<h2>Followers</h2>
<br>
<ul>
  <% @followers.each do |follower| %>
      <li>
        <%= image_tag follower.picture, :style => "float:left; border-radius:5px;margin-right:10px;max-width:40px" %>
        <%= follower.name.titlecase %>
      </li>
  <% end %>
</ul>

<br>






