<%= image_tag @photo, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px" %>
<h4><%= @name.titlecase %>
  <br>
  <small><%= @headline %></small>
</h4>
<br>
<div data-role="navbar">
  <ul>
    <li><%= link_to "Follow", "#", :'data-role' => "button", :'data-theme' => "a" %></li>
    <li><%= link_to "Request Meeting", "#", :'data-role' => "button", :'data-theme' => "b" %></li>
  </ul>
</div>
<br>
<strong>Work</strong>
<br>
<ul>
  <% @positions.each do |position| %>
      <li><%= position %></li>
  <% end %>
</ul>
<strong>Education</strong>
<br>
<ul>
  <% @educations.each do |education| %>
      <li><%= education %></li>
  <% end %>
</ul>
<br>
<br>
<br>





