<%= content_for :page_title do %>
    Profile
<% end %>
<%= content_for :head do %>
    <script type="text/javascript">
        function follow() {
            $.ajax({
                url:"<%= follow_path(@user.id) %>",
                type:"post",
                success:function (data) {
                    $("#follow_button .ui-btn-text").html(data);
                    if (data == "Follow") {
                        $('#follow_notice').html("Not Followed");
                    } else {
                        $('#follow_notice').html("Followed");
                    }
                }
            });
        }
    </script>
<% end %>

<%= content_for :page_menu do %>
    <ul>
      <% if @user==current_user %>
          <li><%= link_to "Edit Profile", edit_user_profile_path, :'data-role' => "button", :'data-theme' => "a", :'data-ajax' => false %></li>
          <li><a href="/search/search" data-ajax=false>Find Friends</a></li>
      <% else %>
          <li><%= link_to "Request Meeting", focussed_meeting_path(@user), :'data-role' => "button", :'data-theme' => "a" %></li>
          <li><%= link_to "Send Message", focussed_message_path(@user), :'data-role' => "button", :'data-theme' => "a" %></li>
      <% end %>
    </ul>
<% end %>

<% unless @photo.blank? %>
    <%= image_tag @photo, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px" %>
<% end %>
<h4 style="margin-top: 0px;"><%= @name.titlecase %>
  <br>
  <small><%= @headline %></small>
  <br>
  <small><%= "#{@industry} background" unless @industry.blank? %> </small>
  <br>
  <% unless @user==current_user %>
      <span id="follow_notice" style="float:left"><%= Follower.find_by_user_id_and_follower_id(current_user.id, @user.id).blank? ? "Not Followed" :"Followed" %></span>
  <% end %>
</h4>

<div id="location" style="font-weight: bold;margin-top: 30px;">
  <% if !@last_seen.nil? %>
      Last Seen at   <%= @last_seen.name %>
  <% end %>
  <% if !@created_at.nil? %>
      at <%= @created_at.created_at %>
  <% end %>
</div>
<br>

<% unless @user==current_user %>
    <%= link_to "#{Follower.find_by_user_id_and_follower_id(current_user.id, @user.id).blank? ? 'Follow' :'Unfollow'}", "#", :'data-role' => "button", :'data-theme' => "a", :onclick => "follow()", :id => "follow_button" %>
<% end %>
<div id="status_here" class="status" style="font-style: italic;"><%= @post.name unless @post.blank? %></div>
<br>

<span><strong>Work</strong></span>
<div class="fbinfobox1">
  <ul>
    <% @positions.each do |position| %>

        <li><%= position %></li>
    <% end %>

  </ul>
</div>
<br>



<span><strong>Education</strong></span>
<div class="fbinfobox1">
  <ul>
    <% @educations.each do |education| %>

        <li><%= education %></li>
    <% end %>

  </ul>
</div>


<br>


<% @posts.each do |post| %>
    <div class="fbinfobox1">
      <div style="background: rgba(201, 226, 121, 0.98); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold">
        <%= post.user.name %>
        <span style="float:right;margin-right: 0.2em"><%#= post.created_at %></span>
      </div>


      <p><%= post.name %></p>

      <p class="ui-li-aside" style="margin-top: -6%;"><strong><%= post.created_at %></strong></p>
    </div>
    <br>
<% end %>


<br>




<% @followers.each do |follower| %>

    <div class="fbinfobox1">
      <div style="background: rgba(96,141,61,0.97); width:98%;padding:2px;padding-left:5px;border-radius:3px;font-weight: bold">
        <%= follower.name.titlecase %>
        <span style="float:right;margin-right: 0.2em"><%#= post.created_at %></span>
      </div>
      <table>
        <tr>
          <% unless follower.picture.blank? %>
              <td style="width:32px;max-width:32px;"><%= image_tag follower.picture, :style => "float:left; border-radius:5px;margin-right:10px;max-width:40px" %></td>
          <% end %>

        </tr>
      </table>
    </div>


    <br>
<% end %>









