<%= image_tag @photo, :style => "float:left; border-radius:5px;margin-right:10px;max-width:80px" %>
<h4><%= @name.titlecase %>
  <br>
  <small><%= @headline %></small>
</h4>
<br>
<div data-role="navbar">
  <ul>
    <li><%= link_to "Follow", "#", :'data-role' => "button", :'data-theme' => "a" %></li>
    <li><%= link_to "Request Meeting", "#", :'data-role' => "button", :'data-theme' => "a" %></li>
  </ul>
</div>
<br>
<div style="background: black;border-radius: 10px;padding:10px;border:4px solid black;margin-top: -30px; color:white;">
  <%= @user_status %>
</div>
<%= @educations %>
<%= @current_position %>
<%= @past_positions %>
</div>
</div>





