<div class="container">

  <div class="content" style="margin-top: -30px">
    <div class="page-header" style="margin-top: 0px">
      <h3 style="font-weight: bold;" style="margin-top: 0px">
        <%= image_tag @photo, :id => "profile-image" %>
        <%= @name %>
        <br>
        <small style="color:#222222"><%= @headline %></small>
        <%= link_to "Request Meeting", "#", :class => "btn btn-primary", :style => "margin-top:10px" %>
      </h3>
    </div>
    <div style="background: black;border-radius: 10px;padding:10px;border:4px solid black;margin-top: -30px; color:white;">
      <%= @user_status %>
    </div>
    <%= @educations %>
    <%= @current_position %>
    <%= @past_positions %>
  </div>
</div>





