<%= javascript_include_tag "jquery.blockUI" %>

<script type="text/javascript">
    $(document).on("mobileinit", function() {

        $('.sponsors').hide();


        $.blockUI({
            message:$('#splash_pic'),
            css: {
                border: 'none',
                padding: '3px',
                backgroundColor: '#000' ,
                top:  ($(window).height() - 400) /2 + 'px',
                left: ($(window).width() - 400) /2 + 'px',
                width: '400px'
            }
        });
        setTimeout($.unblockUI, 3000);
        setTimeout(function(){$('.sponsors').show();}, 3500);
    });


</script>



<h1 id="title_text_front_page" class="sponsors">
    <%= image_tag Logos.first.cheif_sponsor.url, {:style => "max-height:300px;"} rescue nil? %>
</h1>

<div id="splash_pic" style="display: none;">
    <%= image_tag Logos.first.splash_pic.url rescue nil? %>
</div>


<div class="container sponsors">
  <%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin", :'data-ajax' => "false"} do |f| %>
      <%= devise_error_messages! %>
      <br>
      <%= link_to image_tag("linkedin.png", :style => "width:100%;"), user_omniauth_authorize_path(:linkedin), :'data-ajax' => false %>
      <%= link_to image_tag("facebook_logo.png", :style => "width:100%;"), '/users/auth/facebook', :'data-ajax'=>false %>
      <hr>
      <h2 class="form-signin-heading">Sign in</h2>
      <%= f.email_field :email, :placeholder => "Enter email address",:style => "font-size: 16px;height: auto;margin-bottom: 15px;padding: 7px 9px;background:white;-moz-box-sizing: border-box;width:100%;border-radius: 0.6em 0.6em 0.6em 0.6em;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;" %>
      <%= f.password_field :password, :placeholder => "Enter password",:style => "font-size: 16px;height: auto;margin-bottom: 15px;padding: 7px 9px;background:white;-moz-box-sizing: border-box;width:100%;border-radius: 0.6em 0.6em 0.6em 0.6em;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;" %>
      <%= f.submit "Sign in", :'data-role' => "button", :'data-theme' => "a" %>
      <% if devise_mapping.rememberable? %> <p><%= f.check_box :remember_me%> <%= f.label :remember_me,:style=>"border-left:2px solid silver;border-top:2px solid silver;color:white;" %></p> <% end %>
      <hr>
      <p style="color: #f5f5f5;">Sponsored by:</p>
        <%= image_tag Logos.first.oragnizer_pic.url,:style => "max-width:150px;" rescue nil? %>
  <% end %>
</div>

