<%= javascript_include_tag "jquery.blockUI" %>

<script type="text/javascript">
    $(document).on("mobileinit", function() {

        $('.sponsors').hide();


        $.blockUI({
            message:$('#splash_pic'),
            css: {
                border: 'none',
                padding: '3px',
                backgroundColor: '#000' ,
                top:  ($(window).height() - 400) /2 + 'px',
                left: ($(window).width() - 400) /2 + 'px',
                width: '400px'
            }
        });
        setTimeout($.unblockUI, 3000);
        setTimeout(function(){$('.sponsors').show();}, 3500);
    });


</script>



<h1 id="title_text_front_page" class="sponsors">
  <%= image_tag Logos.first.cheif_sponsor.url, {:style => "max-height:300px;"} rescue "" %>
</h1>

<div id="splash_pic" style="display: none;">
  <%= image_tag Logos.first.splash_pic.url rescue "" %>
</div>


<div class="container sponsors">
  <%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin", :'data-ajax' => "false"} do |f| %>
      <%= devise_error_messages! %>
      <br>
      <h2 class="form-signin-heading">Sign in</h2>
      <hr>
      <%= link_to image_tag("linkedin.png", :style => "width:100%;"), user_omniauth_authorize_path(:linkedin), :'data-ajax' => false %>
      <%#= link_to image_tag("facebook_logo.png", :style => "width:100%;"), '/users/auth/facebook', :'data-ajax'=>false %>
      <p style="color: #f5f5f5;">Powered by:</p>
      <%= image_tag Logos.first.oragnizer_pic.url,:style => "max-width:300px;"  rescue "" %>
  <% end %>
</div>

