<%= javascript_include_tag "jquery_block_UI" %>

<script type="text/javascript">
    $(function () {

        $('.sponsors').hide();


        $.blockUI({
            message:$('#splash_pic'),
            css:{
                border:'none',
                padding:'3px',
                backgroundColor:'#000',
                top:($(window).height() - 200) / 2 + 'px',
                left:($(window).width() - 400) / 2 + 'px',
                width:'400px'
            }
        });
        setTimeout($.unblockUI, 2000);
        setTimeout(function () {
            $('.sponsors').show();
        }, 2500);

    });


</script>



<h1 id="title_text_front_page" class="sponsors">
  <% if !Logos.first.cheif_sponsor.nil? %>
      <%= image_tag Logos.first.cheif_sponsor.url, {:style => "max-height:300px;"} %>
  <% end %>
</h1>

<div id="splash_pic" style="display: none;">
 <% unless Logos.first.splash_pic.nil? %>
  <%= image_tag Logos.first.splash_pic.url %>
  <% end %>
</div>

<br>
<br>


<div class="container sponsors">
  <%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin", :'data-ajax' => "false"} do |f| %>
      <%= devise_error_messages! %>
      <br>
      <%= link_to image_tag("linkedin.png", :style => "width:100%;"), user_omniauth_authorize_path(:linkedin), :'data-ajax' => false %>
  <% end %>
</div>

