<!DOCTYPE html>
<html>
<head>
  <title>Procialize: <%= yield :page_title %></title>
  <meta name="viewport" content=" width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>


<body>

<div data-role="page" class="pages" id="home">
  <div data-role="header" data-position="fixed" data-fullscreen="true">
    <a href="#search_menu" id="main_menu" data-icon="grid">Search</a>
    <h1><%= yield :page_title %></h1>
    <% if current_page?(root_url) %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "brand", "data-icon" => "user" %>
    <% end %>
  </div>
  <div data-role="content" data-theme='a'>
    <%= js extend_gritter :position => :bottom_right %>
    <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
    <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 2000) %>
    <div id="content_container">
      <%= yield %>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-theme='a' data-fullscreen="true">
    <div data-role="navbar" data-theme='a'>
      <ul>
        <li><a href="/welcome" data-icon="home" rel="external" class="ui-btn-active" data-theme='a'>Home</a></li>
        <li><a href="/event" data-icon="calendar" data-theme='a' data-ajax=false>Events</a></li>
        <li><a href="/meeting" data-icon="envelope" data-theme='a' data-ajax=false>Meetings</a></li>
        <li><a href="/message" data-icon="envelope" data-theme='a' data-ajax=false>Messages</a></li>
      </ul>
    </div>

  </div>
</div>

<div id="search_menu" data-role="page">
  <div data-role="header" data-position="fixed" data-fullscreen="true">
    <a href="#home" data-icon="grid">Back</a>
  </div>



</div>


</body>
</html>
























