<!DOCTYPE html>
<html>
<head>
  <title>Procialize: <%= yield :page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<div id="body_wrapper">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <%= link_to image_tag("menu.jpeg"), "#", :class => "pull-left", :id => "main_menu" %>

      <%= link_to "Procialize", destroy_user_session_path, :method => :delete, :class => "brand", :id => "title_bar" %>
      <ul class="nav pull-right" style="margin-top: -5px;">
        <li><%= link_to image_tag("event.png"), root_path %></li>
        <li><%= link_to image_tag("delegate.png"), root_path %></li>
        <li class="active"><%= link_to image_tag("home.png"), root_path %></li>
        <li><%= link_to image_tag("contact.png"), root_path %></li>
      </ul>
    </div>
  </div>

  <div class="container" style="margin-top: 40px;">
    <div class="content">
      <%= js extend_gritter :position => :bottom_right %>
      <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
      <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 2000) %>
      <%= yield %>
    </div>
  </div>
</div>
</body>

</html>