
<!DOCTYPE html>
<html>
<head>
  <title>TATA Communication</title>
<link rel="shortcut icon" type="image/x-icon" href="/assets/pro_browser_tile_blackbg.ico">
  <meta name="viewport" content=" width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;">
  <%= stylesheet_link_tag "application", :media => "all" %>


  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css"/>
  <%= stylesheet_link_tag "new_procialize_k.min" %>

  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
  <%= stylesheet_link_tag "jqm-icon-pack-2.0-original" %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <%= analytics_init :local => Rails.env.development? %>

  <%#= stylesheet_link_tag "demo" %>
  <%#= stylesheet_link_tag "style" %>

  <%#= javascript_include_tag "jmpress.min" %>
  <%#= javascript_include_tag "jquery.jmslideshow" %>
  <%#= javascript_include_tag "modernizr.custom.48780" %>

  <style type="text/css">
      .circle{
          border:0.3em solid black;
          height:12px;
          width:12px;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          border-radius: 40px;
          background-color: #8b0000;
          font-size: 0.7em;
          color: #d3d3d3;
          text-align: center;
          vertical-align:middle;
          padding: 2px;

      }

      .ui-content ui-body-a{
          border: none;
      }


      .ui-icon{
          background: #333;
      }
  </style>


  <noscript>
    <style>
        .step {
            width: 100%;
            position: relative;
        }
        .step:not(.active) {
            opacity: 1;
            filter: alpha(opacity=99);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
        }
        .step:not(.active) a.jms-link{
            opacity: 1;
            margin-top: 40px;
        }
    </style>
  </noscript>






  <script type="text/javascript">

      $(function(){
          if(!isMobile.any()) {
              window.location="/desktop_events?desk=1";
          }
      });


      var isMobile = {
          Android: function() {
              return navigator.userAgent.match(/Android/i);
          },
          BlackBerry: function() {
              return navigator.userAgent.match(/BlackBerry/i);
          },
          iOS: function() {
              return navigator.userAgent.match(/iPhone|iPad|iPod/i);

          },
          Opera: function() {
              return navigator.userAgent.match(/Opera Mini/i);
          },
          Windows: function() {
              return navigator.userAgent.match(/IEMobile/i);
          },
          any: function() {
              return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
          }
      };




      function follow_search(id) {
          $.ajax({
              url:"/users/" + id + "/follow",
              type:"post",
              success:function (data) {
                  if (data == "Unfollow") {
                      $('#user' + id).parent().attr('data-theme', 'b').removeClass("ui-btn-up-a").addClass("ui-btn-up-b");
                      $('#user' + id).prev().find('.ui-link-inherit').append('<span id="following' + id + '" class="highlighted" >Following</span>');
                  } else {
                      $('#user' + id).parent().attr('data-theme', 'a').removeClass("ui-btn-up-b").addClass("ui-btn-up-a");
                      $("#following" + id).remove();
                  }
              }
          });
      }


      function location_update(this_select) {
          var data = {user:[], location:[]}
          data["user"].push(<%= current_user.id %>);
          data["location"].push($(this_select).val())
          $.ajax({
              url:"<%= update_location_path %>",
              type:"delete",
              async:false,
              data:JSON.stringify(data),
              contentType:"application/json",
              success:function (data) {
                  window.location = "/"
                  // alert(data);


              }
          });
      }


  </script>

  <%= yield(:head) %>
</head>

<body id="home_body">

<div data-role="page" id="home">
  <div data-role="header" data-fullscreen="true" >


    <a href="/" data-icon="home" data-theme='a' data-ajax=false>Home</a>


    <h1><%= yield :page_title %></h1>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete, :'data-ajax' => false, :"data-icon"=>"signout", :'data-role' => "button" %>




    <div data-role="navbar">
      <%= yield :page_menu %>

      <ul style="border:1px solid #717171;">

        <% @pending = Meeter.find_all_by_user_id_and_status(current_user.id, nil).map { |r| r.meeting }  %>
        <% @unread = Receipient.find_all_by_user_id_and_status(current_user.id, nil).map { |r| r.message } %>

        <li><a href="/events" data-icon="calendar" data-theme='a' data-ajax=false>Solutions</a></li>
        <li>
          <a href="/meetings" data-icon="suitcase" data-theme='a' data-ajax=false>
            <% if @pending.size>0 %> <span class="circle" style="right: 0;margin-top:-29px;float:right;"><%= @pending.size %></span> <% end %>
            Meetings
          </a>
        </li>
        <li>
          <a href="/messages" data-icon="envelope" data-theme='a' data-ajax=false>
            <% if @unread.size>0 %> <span class="circle" style="right: 0;margin-top:-29px;float:right;"><%= @unread.size %></span> <% end %>
            Messages
          </a>
        </li>
        <li><a href="/users/<%= current_user.id %>/profile" data-icon="user" data-theme='a' data-ajax=false  data-role="button">Profile</a></li>
      </ul>
    </div>
  </div>


  <div data-role="content" data-theme='a' style="border: none;">
    <%= js extend_gritter :position => :bottom_right %>
    <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
    <%= js add_gritter(flash[:message], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
    <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 2000) %>

    <div class="content_container" >
      <%= yield %>
      <br/>
      <br/>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-theme='a' data-fullscreen="true" class="big">
    <div data-role="navbar" data-theme='b'>
      <ul>
        <li>
          <a href=""  data-theme='a' data-ajax=false>
            <marquee id="tweet">
              <% @newsfeed=NewsFeed.all %>
              <% @newsfeed.each do |n| %>
                  <%= n.feed_news %>
              <% end %>
            </marquee>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>


<div id="search_menu" data-role="page">
  <div data-role="header" data-fullscreen="true">
    <a href="#" data-rel="back" data-icon="arrow-l" data-prefetch>Back</a>

    <h1>Select Location</h1>
  </div>
  <div class="field">
  </div>
  <% if !@last_seen.blank? %>
      <br>

      <div id="location12">
        <b>
          <% @last_seen.name %></b>
      </div>
  <% end %>

</div>


<script type="text/javascript">
//    $(function () {
//        $.get('/gettweets', function (data) {
//
//            data = data.split('", "')
//            $.each(data, function (index, val) {
//                val = val.toString().replace(/"/, '').replace('[', '').replace(']', '');
//                $('#tweet').append(val + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
//            });
//        });
//
//    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41279198-1', '127.0.0.1:3000');
    ga('send', 'pageview');

</script>


</body>
</html>


















<!--<ul>-->
<!--<%# if @user==current_user %>-->
<!--<li><%#= link_to "Edit Profile", edit_user_profile_path, :'data-role' => "button", :'data-theme' => "a", :'data-ajax' => false %></li>-->

<!--<%# else %>-->
<!--<a href="/contacts/new" data-icon="gear" data-theme='a' data-ajax=false>Contact Administrator</a>-->
<!--<%# end %>-->
<!--</ul>-->

























<!--<div data-role="content" data-theme='b' style="padding-top: 20px;">-->
<!--<ul data-role="listview" data-filter="true" data-autodividers="true" data-theme='a' data-split-icon='star' data-split-theme="c">-->

<!--<%# @conference.participants.map { |participant| participant.user }.sort_by { |u| u[:name] }.each do |user| %>-->
<!--<%# unless user==current_user %>-->
<!--<%# if Follower.find_by_user_id_and_follower_id(current_user.id, user.id).blank? %>-->
<!--<li data-theme='a' data-filtertext="<%#= user.name %> <%#= user.batchie %> <%#= user.headline %> <%#= user.industry %>">-->
<!--<a href="<%#= user_profile_path(user) %>" data-ajax=false data-theme='a'>-->
<!--<%#= user.name.titlecase %>-->
<!--</a>-->
<!--<%#= link_to "Follow #{user.name.titlecase}", "#", :onclick => "follow_search(#{user.id})", :class => "search_follow", :id => "user#{user.id}" %>-->
<!--</li>-->
<!--<%# else %>-->
<!--<li data-theme='b' data-filtertext="<%#= user.name %> <%#= user.batchie %> <%#= user.headline %> <%#= user.industry %>">-->
<!--<a href="<%#= user_profile_path(user) %>" data-ajax=false data-theme='b'>-->
<!--<%#= user.name.titlecase %>-->
<!--<span id="following<%#= user.id %>" class="highlighted">Following</span>-->
<!--</a>-->
<!--<%#= link_to "Unfollow #{user.name.titlecase}", "#", :onclick => "follow_search(#{user.id})", :class => "search_follow", :id => "user#{user.id}" %>-->
<!--</li>-->
<!--<%# end %>-->
<!--<%# end %>-->
<!--<%# end %>-->

<!--</ul>-->
<!--</div>-->

