<!DOCTYPE html>
<html>
<head>
  <title>Procialize: <%= yield :page_title %></title>
  <meta name="viewport" content=" width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css"/>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>


<body>

<div data-role="page" id="home">
  <div data-role="header" data-fullscreen="true">
    <a href="#" data-rel="back" data-icon="arrow-l" data-prefetch>Back</a>

    <h1><%= yield :page_title %></h1>
    <a href="#search_menu" id="main_menu" data-icon="search" data-prefetch>Search</a>

    <div id="status_here"><%= @last_status.comment unless @last_status.blank? %></div>
  </div>
  <div data-role="content" data-theme='a'>
    <%= js extend_gritter :position => :bottom_right %>
    <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
    <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 2000) %>
    <div class="content_container">
      <%= yield %>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-theme='a' data-fullscreen="true">
    <div data-role="navbar" data-theme='a'>
      <ul>
        <li><a href="/events" data-icon="grid" data-theme='a' data-ajax=false>Events</a></li>
        <li><a href="/meetings" data-icon="star" data-theme='a' data-ajax=false>Meetings</a></li>
        <li><a href="/messages" data-icon="alert" data-theme='a' data-ajax=false>Messages</a></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete, "data-icon" => "delete", :'data-ajax' => false %></li>
      </ul>
    </div>

  </div>
</div>

<%= render :partial => '/layouts/search' %>

</body>
</html>
