<!DOCTYPE html>
<html>
<head>
  <title>Procialize: <%= yield :page_title %></title>
  <meta name="viewport" content=" width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css"/>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>


<body>

<div data-role="page" class="pages" id="home">
  <div data-role="header" data-fullscreen="true">
    <a href="#search_menu" id="main_menu" data-icon="search" data-transition="turn" data-prefetch>Search</a>

    <h1><%= yield :page_title %></h1>
    <% if current_page?(root_url) %>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "brand", "data-icon" => "delete", :'data-ajax'=>false %>
    <% end %>
  </div>
  <div data-role="content" data-theme='a'>
    <%= js extend_gritter :position => :bottom_right %>
    <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
    <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 2000) %>
    <div class="content_container">
      <%= yield %>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-theme='a' data-fullscreen="true">
    <div data-role="navbar" data-theme='a'>
      <ul>
        <li><a href="/" id="home_link" class="footer_link" data-icon="home" data-theme='a' data-ajax=false>Home</a></li>
        <li><a href="/events" id="events_link" class="footer_link" data-icon="grid" data-theme='a' data-ajax=false>Events</a></li>
        <li><a href="/meetings" id="meetings_link" class="footer_link" data-icon="star" data-theme='a' data-ajax=false>Meetings</a></li>
        <li><a href="/messages" id="messages_link" class="footer_link ui-btn-active" data-icon="alert" data-theme='a' data-ajax=false>Messages</a></li>
      </ul>
    </div>

  </div>
</div>

<div id="search_menu" data-role="page">
  <div data-role="content" data-theme='a'>
    <div class="search_container">
      <ul data-role="listview" data-filter="true">
        <li><a href="acura.html">Acura</a></li>
        <li><a href="audi.html">Audi</a></li>
        <li><a href="bmw.html">BMW</a></li>
      </ul>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-fullscreen="true">
    <a href="#home" data-icon="arrow-l" data-transition="turn" data-prefetch>Back</a>
  </div>
</div>


</body>
</html>
























