<!DOCTYPE html>
<html>


<head>
<link rel="shortcut icon" type="image/x-icon" href="/assets/pro_browser_tile_blackbg.ico">
  <title>Procialize: <%= yield :page_title %></title>
  <meta name="viewport" content=" width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css"/>
  <%= stylesheet_link_tag "new_procialize_k.min" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "jqm-icon-pack-2.0-original" %>
  <script type="text/javascript">


       $(function(){
           if(!isMobile.any()) {
//               window.location="/desktop_events?desk=1";
           }
       });


var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};





      function follow_search(id) {
          $.ajax({
              url:"/users/" + id + "/follow",
              type:"post",
              success:function (data) {
                  if (data == "Unfollow") {
                      $('#user' + id).parent().attr('data-theme', 'b').removeClass("ui-btn-up-a").addClass("ui-btn-up-b");
                      $('#user' + id).prev().find('.ui-link-inherit').append('<span id="following' + id + '" class="highlighted" >Following</span>');
                  } else {
                      $('#user' + id).parent().attr('data-theme', 'a').removeClass("ui-btn-up-b").addClass("ui-btn-up-a");
                      $("#following" + id).remove();
                  }
              }
          });
      }


      function location_update(this_select) {
          var data = {user:[], location:[]}
          data["user"].push(<%= current_user.id %>);
          data["location"].push($(this_select).val())
          $.ajax({
              url:"<%= update_location_path %>",
              type:"delete",
              async:false,
              data:JSON.stringify(data),
              contentType:"application/json",
              success:function (data) {
                  window.location = "/"
                  // alert(data);


              }
          });
      }


  </script>

  <style type="text/css">
      .circle{
          border:1px solid #d3d3d3;
          height:12px;
          width:12px;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          border-radius: 40px;
          background-color: #8b0000;
          font-size: 0.7em;
          color: #d3d3d3;
          text-align: center;
          vertical-align:middle;
          padding: 2px;

      }
  </style>


  <%= yield(:head) %>
</head>

<body>
<div data-role="page" id="home">
  <div data-role="header" data-fullscreen="true">
    <a href="/" data-icon="home" data-theme='a' data-ajax=false>Home</a>
    <h1><%= yield :page_title %></h1>


    <%= link_to "Logout", destroy_user_session_path, :method => :delete, :'data-ajax' => false, :"data-icon"=>"signout", :'data-role' => "button" %>


    <div data-role="navbar">
      <%= yield :page_menu %>
      <ul>
        <% @pending = Meeter.find_all_by_user_id_and_status(current_user.id, nil).map { |r| r.meeting }  %>
        <% @unread = Receipient.find_all_by_user_id_and_status(current_user.id, nil).map { |r| r.message } %>

        <li><a href="/events" data-icon="calendar" data-theme='a' data-ajax=false>Events</a></li>
        <li>
          <a href="/meetings" data-icon="suitcase" data-theme='a' data-ajax=false>
            <% if @pending.size>0 %> <span class="circle" style="right: 0;margin-top:-29px;float:right;"><%= @pending.size %></span> <% end %>
            Meetings
          </a>
        </li>
        <li>
          <a href="/messages" data-icon="envelope" data-theme='a' data-ajax=false>
            <% if @unread.size>0 %> <span class="circle" style="right: 0;margin-top:-29px;float:right;"><%= @unread.size %></span> <% end %>
            Messages
          </a>
        </li>
        <li><a href="/users/<%= current_user.id %>/profile" data-icon="user" data-theme='a' data-ajax=false  data-role="button">Profile</a></li>
      </ul>
    </div>
  </div>



  <div data-role="content" data-theme='a'>
    <%= js extend_gritter :position => :bottom_right %>
    <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
    <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 2000) %>
    <div class="content_container">
      <%= yield %>
      <br/>
      <br/>
    </div>
  </div>

</div>
<script type="text/javascript">
    $(function () {
        $.get('/gettweets', function (data) {

            data = data.split('", "')
            $.each(data, function (index, val) {
                val = val.toString().replace(/"/, '').replace('[', '').replace(']', '');
                $('#tweet').append(val + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            });
        });

    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41279198-1', '127.0.0.1:3000');
    ga('send', 'pageview');

</script>
</body>
</html>





